1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [1]:
def map(n):
    if (n%5==0) and (n%3==0):
        return "MickeyMouse"
    elif n%3==0:
        return "Mickey"
    elif n%5==0:
        return "Mouse"
    else:
        return n

def rename(m):
    if m == 'MickeyMouse':
        return "DonaldDuck"
    elif m == 'Mickey':
        return "Donald"
    elif m == 'Mouse':
        return "Duck"
    else:
        return m

lis = [map(x) for x in range(1, 100) ]
for i in lis:
    print(i)

tup = [rename(y) for y in lis]
for j in tup:
    print(j)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
1
2
Donald
4
Duck
Donald
7
8
Donald
Duck
11
Donald
13
14
DonaldDuck
16
17
Donald
19
Duck
Donald
22
23
Donald
Duck
26
Donald
28
29
DonaldDuck
31
32
Donald
34
Duck
Donald
37
38
Donald
Duck
41
Donald
43
44
DonaldDuck
46
47
Donald
49
Duck
Donald
52
53
Donald
Duck
56
Donald
58
59
DonaldDuck
61
62
Donald
64
Duck
Donald
67
68
Donald
Duck
71
Donald
73
74
DonaldDuck
76
77
Donald
79
Duck
Donald
82
83
Donald
Duck
86
Donald
88
89
DonaldDuck
91
92
Donald
94
Duck
Donald
97
98
Donald

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def swap(x,y):
    x=x+1
    return

def smart_swap(List):
    List.reverse()
    return List

j = 10 
k = 20 
swap(j,k)
print(j)
print(k)

x = 1
y = 2
x,y = smart_swap([x,y])
print(x)
print(y)

10
20
2
1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
def euclidean_2d(x,y):
    return (pow(x[0]-y[0],2)+pow(x[1]-y[1],2))**0.5

u=(3,3)
v=(1,4)
d = euclidean_2d(u,v)
print(d)

2.23606797749979

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [6]:
my_string = "It was a dark and stormy night."
characters = [x for x in my_string.lower()]

def count(string):
    d = {}
    for s in string:
        if s in d.keys():
            d[s] = d[s] +1
        else:
            d.update({s:1})
    return d

d1 = count(characters)
for i in d1.keys():
    print('Character \'{}\' ; times {}'.format(i,d1[i]))

Character 'i' ; times 2
Character 't' ; times 3
Character ' ' ; times 6
Character 'w' ; times 1
Character 'a' ; times 4
Character 's' ; times 2
Character 'd' ; times 2
Character 'r' ; times 2
Character 'k' ; times 1
Character 'n' ; times 2
Character 'o' ; times 1
Character 'm' ; times 1
Character 'y' ; times 1
Character 'g' ; times 1
Character 'h' ; times 1
Character '.' ; times 1

In [7]:
d = {'a':0, 'b':1}
print(d.keys())
print(d.values())
print(d['a'])
d['a'] = 100
print(d['a'])
d.update({'c':1})
print(d.keys())

dict_keys(['a', 'b'])
dict_values([0, 1])
0
100
dict_keys(['a', 'b', 'c'])

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [14]:
def unique_num (l):
    l1 = []
    for i in range(len(l)):
        if len(l1) == 0:
            l1.append(l[i])
        else:    
            T = True
            for j in range(len(l1)):
                if l[i] == l1[j]:
                    T = False
            if T == True:
                l1.append(l[i])
    return l1

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def count(string):
    dictionary = {}
    for l in string:
        if l in dictionary.keys():
            dictionary[l]+=1
        else:
            dictionary.update({l:1})
    return dictionary

results = count(l)
#same task of the previous exercise with integer keys instead of characters
print(results, '\n')

print('Number of unique numbers: ', len(results))

{36: 3, 45: 3, 58: 1, 3: 2, 74: 1, 96: 1, 64: 1, 31: 2, 10: 1, 24: 1, 19: 1, 33: 1, 86: 1, 99: 1, 18: 1, 63: 2, 70: 3, 85: 3, 47: 1, 56: 2, 42: 2, 84: 4, 88: 1, 55: 1, 20: 3, 54: 1, 8: 1, 51: 3, 79: 1, 81: 1, 57: 1, 37: 1, 91: 3, 1: 1, 66: 2, 9: 1, 89: 2, 50: 2, 95: 1, 90: 1, 98: 1, 39: 1, 16: 1, 82: 1, 92: 1, 41: 1, 30: 1, 34: 2, 94: 1, 5: 1, 72: 1, 87: 1, 75: 1, 53: 1}

Number of unique numbers:  54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [9]:
def square(x):
    return x**2
def cube(x):
    return x**3
def th6(x):
    return square(cube(x))

print(th6(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [10]:
cubes=[]
for x in range(10):
    cubes.append(x**3)
    
cubes2=[x**3 for x in range(10)]
print(cubes,cubes2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729] [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [16]:
help(it.combinations_with_replacement)

Help on class combinations_with_replacement in module itertools:

class combinations_with_replacement(builtins.object)
 |  combinations_with_replacement(iterable, r) --> combinations_with_replacement object
 |
 |  Return successive r-length combinations of elements in the iterable
 |  allowing individual elements to have successive repeats.
 |  combinations_with_replacement('ABC', 2) --> AA AB AC BB BC CC
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  __sizeof__(...)
 |      Returns size in memory, in bytes.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [11]:
import itertools as it

iterator = it.combinations_with_replacement

pytha_tris = []
for i,j,k in iterator(range(1, 100),3):
    if (j**2 + i**2) == k**2:
        pytha_tris.append((i,j,k))
    
pytha_tris

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 21, 29),
 (20, 48, 52),
 (21, 28, 35),
 (21, 72, 75),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 45, 53),
 (30, 40, 50),
 (30, 72, 78),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 84, 91),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 42, 58),
 (40, 75, 85),
 (42, 56, 70),
 (45, 60, 75),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (54, 72, 90),
 (57, 76, 95),
 (60, 63, 87),
 (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [17]:
def normalize(x,y):
    mod = (x**2+y**2)**0.5
    return x/mod, y/mod

x = 3
y = 4
x, y = normalize(x, y)
print('x,y: {},{}'.format(x,y))

x,y: 0.6,0.8