1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [26]:
thisisnottuple = ("Mickey", "Mouse", "MickeyMouse")
for i in range(1,100): 
    if (i%15==0):
        print(thisisnottuple[2])
    elif (i%3==0):
        print(thisisnottuple[0])
    elif (i%5==0): 
        print(thisisnottuple[1])
    else:
        print(i) 
        
thisisnottuple[0] = "Donald"
thisisnottuple[1] = "Duck"
thisisnottuple[2] = "DonaldDuck"

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey

TypeError: 'tuple' object does not support item assignment

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [32]:
a = 1
b = 2
print(a,b)
a = a+b
b = a-b
a = a-b
print(a,b)

1 2
2 1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [45]:
u = (3,0)
v = (0,4)
print (u,v)
a = u[0]+ v[0]
print(a)
b = u[1] + v[1]
print(b)
c = pow(a,2) +pow(b,2) 
print(c)
sqrt = c**(0.5)
print(sqrt)

(3, 0) (0, 4)
3
4
25
5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [71]:
def check_freq(str):
    freq = {}
    for c in str:
       freq[c] = str.count(c)
    return freq

check_freq("Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse")

{'W': 1,
 'r': 17,
 'i': 14,
 't': 19,
 'e': 22,
 ' ': 41,
 'a': 7,
 'p': 8,
 'o': 13,
 'g': 1,
 'm': 8,
 'h': 9,
 'n': 10,
 's': 9,
 'u': 9,
 'b': 4,
 'f': 9,
 '1': 2,
 '0': 2,
 '.': 2,
 'B': 1,
 'l': 6,
 'M': 4,
 'c': 3,
 'k': 2,
 'y': 2,
 'd': 3,
 'v': 2,
 'F': 1,
 'w': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [73]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
my_set = set(l)
my_new_list = list(my_set)
print("List of unique numbers : ",my_new_list)

List of unique numbers :  [1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [81]:
x = 4
sqrt = x**0.5
print(sqrt)
cbrt = x**0.3
print(cbrt)
sqcb = x ** 0.5** 0.3
print(sqcb)

2.0
1.515716566510398
3.0833631000341937

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [90]:
cubes = [x*x*x for x in range(1,10)] #a) a for loop

for x in cubes:
    print(x)

#b) a list comprehension
cubes_by_four = [x**3 for x in range(1,11) if x**3 % 4 == 0]
print(cubes_by_four)

1
8
27
64
125
216
343
512
729
[8, 64, 216, 512, 1000]

8. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [103]:
(a,b,c) = (3,4,5)

print(a,b,c)
print (a,c)
a = 6
b = 8
c = 10
if(pow(a,2) + pow (b,2) == pow(c,2)):
    print("True")
else:
    print("False")

3 4 5
3 5
True

9. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [108]:
# empty tuple
# Output: ()
my_tuple = ()
print(my_tuple)

# tuple having integers
# Output: (1, 2, 3)
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
# Output: (1, "Hello", 3.4)
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
# Output: ("mouse", [8, 4, 6], (1, 2, 3))
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

# tuple can be created without parentheses
# also called tuple packing
# Output: 3, 4.6, "dog"

my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
# Output:
# 3
# 4.6
# dog
a, b, c = my_tuple
print(a)
print(b)
print(c)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))
(3, 4.6, 'dog')
3
4.6
dog