1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a list and substitute Mickey with Donald and Mouse with Duck

In [1]:
for i in range(1,101,1):
    if i % 15 == 0:
        print("mickey mouse")
    elif i % 5 == 0:
        print("mouse")
    elif i % 3 ==0:
        print("mickey")
    else: print(i)

1
2
mickey
4
mouse
mickey
7
8
mickey
mouse
11
mickey
13
14
mickey mouse
16
17
mickey
19
mouse
mickey
22
23
mickey
mouse
26
mickey
28
29
mickey mouse
31
32
mickey
34
mouse
mickey
37
38
mickey
mouse
41
mickey
43
44
mickey mouse
46
47
mickey
49
mouse
mickey
52
53
mickey
mouse
56
mickey
58
59
mickey mouse
61
62
mickey
64
mouse
mickey
67
68
mickey
mouse
71
mickey
73
74
mickey mouse
76
77
mickey
79
mouse
mickey
82
83
mickey
mouse
86
mickey
88
89
mickey mouse
91
92
mickey
94
mouse
mickey
97
98
mickey
mouse

In [15]:
a=[]
for i in range (1,101,1):
    if i % 15 == 0:
        a.insert(i,"mickey mouse")
    elif i % 5 == 0:
        a.insert(i,"mouse")
    elif i % 3 ==0:
        a.insert(i,"mickey")
    else:
        a.insert(i,i)
print("la prima list e':","\n", a)

for i in range(0,100,1):
    if a[i] == "mickey mouse":
        a[i]="donald duck"
    elif a[i]=="mouse":
        a[i]="duck"
    elif a[i]=="mickey":
        a[i]='donald'
print ("\n")
print("la seconda list e':","\n", a)

la prima list e':
 [1, 2, 'mickey', 4, 'mouse', 'mickey', 7, 8, 'mickey', 'mouse', 11, 'mickey', 13, 14, 'mickey mouse', 16, 17, 'mickey', 19, 'mouse', 'mickey', 22, 23, 'mickey', 'mouse', 26, 'mickey', 28, 29, 'mickey mouse', 31, 32, 'mickey', 34, 'mouse', 'mickey', 37, 38, 'mickey', 'mouse', 41, 'mickey', 43, 44, 'mickey mouse', 46, 47, 'mickey', 49, 'mouse', 'mickey', 52, 53, 'mickey', 'mouse', 56, 'mickey', 58, 59, 'mickey mouse', 61, 62, 'mickey', 64, 'mouse', 'mickey', 67, 68, 'mickey', 'mouse', 71, 'mickey', 73, 74, 'mickey mouse', 76, 77, 'mickey', 79, 'mouse', 'mickey', 82, 83, 'mickey', 'mouse', 86, 'mickey', 88, 89, 'mickey mouse', 91, 92, 'mickey', 94, 'mouse', 'mickey', 97, 98, 'mickey', 'mouse']


la seconda list e':
 [1, 2, 'donald', 4, 'duck', 'donald', 7, 8, 'donald', 'duck', 11, 'donald', 13, 14, 'donald duck', 16, 17, 'donald', 19, 'duck', 'donald', 22, 23, 'donald', 'duck', 26, 'donald', 28, 29, 'donald duck', 31, 32, 'donald', 34, 'duck', 'donald', 37, 38, 'donald', 'duck', 41, 'donald', 43, 44, 'donald duck', 46, 47, 'donald', 49, 'duck', 'donald', 52, 53, 'donald', 'duck', 56, 'donald', 58, 59, 'donald duck', 61, 62, 'donald', 64, 'duck', 'donald', 67, 68, 'donald', 'duck', 71, 'donald', 73, 74, 'donald duck', 76, 77, 'donald', 79, 'duck', 'donald', 82, 83, 'donald', 'duck', 86, 'donald', 88, 89, 'donald duck', 91, 92, 'donald', 94, 'duck', 'donald', 97, 98, 'donald', 'duck']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [36]:
def funzioneswap(x,y):
    print("x prima dello swap: ", x)
    print("y prima dello swap: ", y)
    s=x
    x=y
    y=s
    print("let's swap:")
    return(x,y)

funzioneswap(3,"ciao")

x prima dello swap:  3
y prima dello swap:  ciao
let's swap:

('ciao', 3)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [1]:
u=(4,1)
v=(1,1)
d=(((u[0]-v[0])**2)+(u[1]-v[1])**2)**0.5
print(d)

3.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [14]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

S=s.lower()
print(S)
m=list(set(S))
for i in range(0,len(m)):
    conteggio_i=S.count(m[i])
    print(conteggio_i, "volte",m[i])

write a program that prints the numbers from 1 to 100. but for multiples of three print mickey instead of the number and for the multiples of five print mouse. for numbers which are multiples of both three and five print mickeymouse
10 times f
9 times h
2 times y
19 times t
2 times 1
41 times
2 times .
13 times o
17 times r
12 times m
2 times k
9 times s
22 times e
2 times v
7 times a
3 times d
2 times 0
9 times u
5 times b
14 times i
10 times n
2 times w
3 times c
6 times l
1 times g
8 times p

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [3]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

g=list(set(l))
for i in range(0,len(g)):
    conteggio_i=l.count(g[i])
    print(conteggio_i, "volte",g[i])

1 times 1
2 times 3
1 times 5
1 times 8
1 times 9
1 times 10
1 times 16
1 times 18
1 times 19
3 times 20
1 times 24
1 times 30
2 times 31
1 times 33
2 times 34
3 times 36
1 times 37
1 times 39
1 times 41
2 times 42
3 times 45
1 times 47
2 times 50
3 times 51
1 times 53
1 times 54
1 times 55
2 times 56
1 times 57
1 times 58
2 times 63
1 times 64
2 times 66
3 times 70
1 times 72
1 times 74
1 times 75
1 times 79
1 times 81
1 times 82
4 times 84
3 times 85
1 times 86
1 times 87
1 times 88
2 times 89
1 times 90
3 times 91
1 times 92
1 times 94
1 times 95
1 times 96
1 times 98
1 times 99

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [14]:
def square(a):
    s=a**2
    return(s)


def cube(a):
    c=a**3
    return(c)

print(cube(2))
print(square(3))

def power6(a):
    power6=square(a)*cube(a)*a
    return(power6)
print(power6(2))

8
9
64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [1]:
a=[]
for i in range (0,11):
    a.append(i**3)

print(a)

listcomp=[i**3 for i in range(0,11)]
print(listcomp)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [13]:
a=[]
for i in range (1,100):
    for y in range (1,100):
        for j in range (1,100):
            if(i**2 + y**2 == j**2):
                a.append(str(i))
                a.append(str(y))
                a.append(str(j))
                a.append(" in prossimo è: ")             
print(a)

['3', '4', '5', ' in prossimo è: ', '4', '3', '5', ' in prossimo è: ', '5', '12', '13', ' in prossimo è: ', '6', '8', '10', ' in prossimo è: ', '7', '24', '25', ' in prossimo è: ', '8', '6', '10', ' in prossimo è: ', '8', '15', '17', ' in prossimo è: ', '9', '12', '15', ' in prossimo è: ', '9', '40', '41', ' in prossimo è: ', '10', '24', '26', ' in prossimo è: ', '11', '60', '61', ' in prossimo è: ', '12', '5', '13', ' in prossimo è: ', '12', '9', '15', ' in prossimo è: ', '12', '16', '20', ' in prossimo è: ', '12', '35', '37', ' in prossimo è: ', '13', '84', '85', ' in prossimo è: ', '14', '48', '50', ' in prossimo è: ', '15', '8', '17', ' in prossimo è: ', '15', '20', '25', ' in prossimo è: ', '15', '36', '39', ' in prossimo è: ', '16', '12', '20', ' in prossimo è: ', '16', '30', '34', ' in prossimo è: ', '16', '63', '65', ' in prossimo è: ', '18', '24', '30', ' in prossimo è: ', '18', '80', '82', ' in prossimo è: ', '20', '15', '25', ' in prossimo è: ', '20', '21', '29', ' in prossimo è: ', '20', '48', '52', ' in prossimo è: ', '21', '20', '29', ' in prossimo è: ', '21', '28', '35', ' in prossimo è: ', '21', '72', '75', ' in prossimo è: ', '24', '7', '25', ' in prossimo è: ', '24', '10', '26', ' in prossimo è: ', '24', '18', '30', ' in prossimo è: ', '24', '32', '40', ' in prossimo è: ', '24', '45', '51', ' in prossimo è: ', '24', '70', '74', ' in prossimo è: ', '25', '60', '65', ' in prossimo è: ', '27', '36', '45', ' in prossimo è: ', '28', '21', '35', ' in prossimo è: ', '28', '45', '53', ' in prossimo è: ', '30', '16', '34', ' in prossimo è: ', '30', '40', '50', ' in prossimo è: ', '30', '72', '78', ' in prossimo è: ', '32', '24', '40', ' in prossimo è: ', '32', '60', '68', ' in prossimo è: ', '33', '44', '55', ' in prossimo è: ', '33', '56', '65', ' in prossimo è: ', '35', '12', '37', ' in prossimo è: ', '35', '84', '91', ' in prossimo è: ', '36', '15', '39', ' in prossimo è: ', '36', '27', '45', ' in prossimo è: ', '36', '48', '60', ' in prossimo è: ', '36', '77', '85', ' in prossimo è: ', '39', '52', '65', ' in prossimo è: ', '39', '80', '89', ' in prossimo è: ', '40', '9', '41', ' in prossimo è: ', '40', '30', '50', ' in prossimo è: ', '40', '42', '58', ' in prossimo è: ', '40', '75', '85', ' in prossimo è: ', '42', '40', '58', ' in prossimo è: ', '42', '56', '70', ' in prossimo è: ', '44', '33', '55', ' in prossimo è: ', '45', '24', '51', ' in prossimo è: ', '45', '28', '53', ' in prossimo è: ', '45', '60', '75', ' in prossimo è: ', '48', '14', '50', ' in prossimo è: ', '48', '20', '52', ' in prossimo è: ', '48', '36', '60', ' in prossimo è: ', '48', '55', '73', ' in prossimo è: ', '48', '64', '80', ' in prossimo è: ', '51', '68', '85', ' in prossimo è: ', '52', '39', '65', ' in prossimo è: ', '54', '72', '90', ' in prossimo è: ', '55', '48', '73', ' in prossimo è: ', '56', '33', '65', ' in prossimo è: ', '56', '42', '70', ' in prossimo è: ', '57', '76', '95', ' in prossimo è: ', '60', '11', '61', ' in prossimo è: ', '60', '25', '65', ' in prossimo è: ', '60', '32', '68', ' in prossimo è: ', '60', '45', '75', ' in prossimo è: ', '60', '63', '87', ' in prossimo è: ', '63', '16', '65', ' in prossimo è: ', '63', '60', '87', ' in prossimo è: ', '64', '48', '80', ' in prossimo è: ', '65', '72', '97', ' in prossimo è: ', '68', '51', '85', ' in prossimo è: ', '70', '24', '74', ' in prossimo è: ', '72', '21', '75', ' in prossimo è: ', '72', '30', '78', ' in prossimo è: ', '72', '54', '90', ' in prossimo è: ', '72', '65', '97', ' in prossimo è: ', '75', '40', '85', ' in prossimo è: ', '76', '57', '95', ' in prossimo è: ', '77', '36', '85', ' in prossimo è: ', '80', '18', '82', ' in prossimo è: ', '80', '39', '89', ' in prossimo è: ', '84', '13', '85', ' in prossimo è: ', '84', '35', '91', ' in prossimo è: ']

9\. Normalization


Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [34]:
a=(0,3,4,5,3,22,66)
b=[]
for i in range(len(a)):
    if a[i]==0:
        b.append(0)
    else:
        b.append(a[i]/a[i])
print(b)

[2, 5, 4]
[2, 3, 5, 3]
[0, 0, 0, 0, 0, 0, 0]

In [37]:
def normalization(lista):
    print("prima della normalizzazione")
    print(lista)
    b=[]
    for i in range(len(lista)):
        if lista[i]==0:
            b.append(0)
        else:
            b.append(lista[i]/lista[i])
    print("dopo la normalizzazione: \n",b)    
    
normalization([1,2,3,4,5])
normalization([0,0,0,0,0])

prima della normalizzazione
[1, 2, 3, 4, 5]
dopo la normalizzazione:
 [1.0, 1.0, 1.0, 1.0, 1.0]
prima della normalizzazione
[0, 0, 0, 0, 0]
dopo la normalizzazione:
 [0, 0, 0, 0, 0]