1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [4]:
def map_func(n):
    if (n%5==0) and (n%3==0):
        return "MickeyMouse"
    elif n%3==0:
        return "Mickey"
    elif n%5==0:
        return "Mouse"
    else:
        return n

def rename(m):
    if type(m) == str:
        m = m.replace('Mickey', 'Donald')
        m = m.replace('Mouse', 'Duck')
        return m
    else:
        return m

    
lis = [map_func(x) for x in range(1, 101) ]
i = 0
while i < 100:
    if i < 99:
        print(str(lis[i]) + ',', end=' ')
        i += 1
    else:
        print(str(lis[i]), end='.\n\n')
        i += 1
        
        
tup = [rename(y) for y in lis]
i = 0
while i < 100:
    if i < 99:
        print(str(tup[i]) + ',', end=' ')
        i += 1
    else:
        print(str(tup[i]), end='.\n')
        i += 1

1, 2, Mickey, 4, Mouse, Mickey, 7, 8, Mickey, Mouse, 11, Mickey, 13, 14, MickeyMouse, 16, 17, Mickey, 19, Mouse, Mickey, 22, 23, Mickey, Mouse, 26, Mickey, 28, 29, MickeyMouse, 31, 32, Mickey, 34, Mouse, Mickey, 37, 38, Mickey, Mouse, 41, Mickey, 43, 44, MickeyMouse, 46, 47, Mickey, 49, Mouse, Mickey, 52, 53, Mickey, Mouse, 56, Mickey, 58, 59, MickeyMouse, 61, 62, Mickey, 64, Mouse, Mickey, 67, 68, Mickey, Mouse, 71, Mickey, 73, 74, MickeyMouse, 76, 77, Mickey, 79, Mouse, Mickey, 82, 83, Mickey, Mouse, 86, Mickey, 88, 89, MickeyMouse, 91, 92, Mickey, 94, Mouse, Mickey, 97, 98, Mickey, Mouse.

1, 2, Donald, 4, Duck, Donald, 7, 8, Donald, Duck, 11, Donald, 13, 14, DonaldDuck, 16, 17, Donald, 19, Duck, Donald, 22, 23, Donald, Duck, 26, Donald, 28, 29, DonaldDuck, 31, 32, Donald, 34, Duck, Donald, 37, 38, Donald, Duck, 41, Donald, 43, 44, DonaldDuck, 46, 47, Donald, 49, Duck, Donald, 52, 53, Donald, Duck, 56, Donald, 58, 59, DonaldDuck, 61, 62, Donald, 64, Duck, Donald, 67, 68, Donald, Duck, 71, Donald, 73, 74, DonaldDuck, 76, 77, Donald, 79, Duck, Donald, 82, 83, Donald, Duck, 86, Donald, 88, 89, DonaldDuck, 91, 92, Donald, 94, Duck, Donald, 97, 98, Donald, Duck.

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [5]:
def swap(x, y):
    z = x
    x = y
    y = z
    return x, y

def smart_swap(x, y):
    return y, x

x = 1
y = 2
x,y = smart_swap(x,y)
print(x)
print(y)

2
1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [6]:
def euclidean_2d(x,y):
    """Expected two 2d vector as inputs"""
    return (pow(x[0]-y[0],2)+pow(x[1]-y[1],2))**0.5

u=(3,3)
v=(1,4)
d = euclidean_2d(u,v)
print(d)

2.23606797749979

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [14]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
print(len(s))
s = s.lower()

def count(string):
    dictionary = {}
    for letter in string:
        if letter in dictionary.keys():
            dictionary[letter]+=1
        else:
            dictionary.update({letter:1})
    return dictionary

results = count(s)
keys = list(results.keys())
keys.sort()
for key in keys:
    print(key, ": ", results[key])

232
a :  7
b :  5
c :  3
d :  3
e :  22
f :  10
g :  1
h :  9
i :  14
k :  2
l :  6
m :  12
n :  10
o :  13
p :  8
r :  17
s :  9
t :  19
u :  9
v :  2
w :  2
y :  2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list `l`

In [20]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 
     99, 18, 63, 70, 85, 85, 63, 47, 56, 42, 70, 84, 88, 55,  
     20, 54, 8, 56, 51, 79, 81, 57, 37, 91, 1, 84, 84, 36, 
     66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 
     92, 41, 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 
     84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def count(string):
    dictionary = {}
    for letter in string:
        if letter in dictionary.keys():
            dictionary[letter]+=1
        else:
            dictionary.update({letter:1})
    return dictionary

results = count(l)
numbers = list(results.keys())
numbers.sort()
# print(numbers, '\n')
print(len(results), '\n')

keys = list(results.keys())
keys.sort()
for key in keys:
    print(key, ": ", results[key])

54

1 :  1
3 :  2
5 :  1
8 :  1
9 :  1
10 :  1
16 :  1
18 :  1
19 :  1
20 :  3
24 :  1
30 :  1
31 :  2
33 :  1
34 :  2
36 :  3
37 :  1
39 :  1
41 :  1
42 :  2
45 :  3
47 :  1
50 :  2
51 :  3
53 :  1
54 :  1
55 :  1
56 :  2
57 :  1
58 :  1
63 :  2
64 :  1
66 :  2
70 :  3
72 :  1
74 :  1
75 :  1
79 :  1
81 :  1
82 :  1
84 :  4
85 :  3
86 :  1
87 :  1
88 :  1
89 :  2
90 :  1
91 :  3
92 :  1
94 :  1
95 :  1
96 :  1
98 :  1
99 :  1

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [11]:
def square(x):
    return x**2
def cube(x):
    return x**3
def th6(x):
    return square(cube(x))

print(th6(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [16]:
cubes=[]
for x in range(11):
    cubes.append(x**3)
    

cubes2=[x**3 for x in range(11)]
print(cubes)
print(cubes2)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [46]:
import itertools as it
iterator = it.combinations_with_replacement
pytha_tris = [(i,j,k) for i,j,k in iterator(range(1, 100),3)  if (j**2 + i**2) == k**2 ]
pytha_tris

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 21, 29),
 (20, 48, 52),
 (21, 28, 35),
 (21, 72, 75),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 45, 53),
 (30, 40, 50),
 (30, 72, 78),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 84, 91),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 42, 58),
 (40, 75, 85),
 (42, 56, 70),
 (45, 60, 75),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (54, 72, 90),
 (57, 76, 95),
 (60, 63, 87),
 (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [23]:
def normalize(x):
    sum = 0
    for i in x:
        sum += i**2
    mod = sum**0.5
    results = [j/mod for j in x]
    return results

x = 3
y = 4
x, y = normalize((x, y))
print('x,y: {},{}'.format(x,y))

x,y: 0.6,0.8

In [ ]:
def normalize(x,y):
    mod = (x**2+y**2)**0.5
    return x/mod, y/mod

x = 3
y = 4
x, y = normalize(x, y)
print('x,y: {},{}'.format(x,y))

x,y: 0.6,0.8