1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [22]:
# prima lista

l = [x for x in  range(1, 101)]

for elem in l:
    if elem%3 == 0 and elem%5 != 0:
        l[l.index(elem)] = "Mickey"
    elif elem%5 == 0 and elem%3 != 0:
        l[l.index(elem)] = "Mouse"
    elif elem%3 == 0 and elem%5 == 0:
        l[l.index(elem)] = "MickeyMouse"

for c in l:
    print(c)

# seconda parte

l2 = tuple(l)

print("\n\n\n")

for elem in l2:
    elem = str(elem)
    if "MickeyMouse" in elem:
        elem = "DonaldDuck"
    elif "Mickey" in elem:
        elem = "Donald"
    elif "Mouse" in elem:
        elem = "Duck"
    
    print(elem)

print(type(l))
print(type(l2))

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse




1
2
Donald
4
Duck
Donald
7
8
Donald
Duck
11
Donald
13
14
DonaldDuck
16
17
Donald
19
Duck
Donald
22
23
Donald
Duck
26
Donald
28
29
DonaldDuck
31
32
Donald
34
Duck
Donald
37
38
Donald
Duck
41
Donald
43
44
DonaldDuck
46
47
Donald
49
Duck
Donald
52
53
Donald
Duck
56
Donald
58
59
DonaldDuck
61
62
Donald
64
Duck
Donald
67
68
Donald
Duck
71
Donald
73
74
DonaldDuck
76
77
Donald
79
Duck
Donald
82
83
Donald
Duck
86
Donald
88
89
DonaldDuck
91
92
Donald
94
Duck
Donald
97
98
Donald
Duck
<class 'list'>
<class 'tuple'>

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
# to swap variables in python one have to use arrays/lists because when calling them in
# functions they behave like pointers, modifying the actual object

x, y = [7], [18]

def swap(x,y):
    x[0], y[0] = y[0], x[0]

swap(x,y)

print(x[0], y[0])


# This does not function as expected

#x, y = 7, 18
#
#arr = [x, y]
#
#def swap(v):
#    v[0], v[1] = v[1], v[0]
#
#swap(arr)
#
#print(arr[0], arr[1])
#print(x, y)

18 7

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
def euclid2(x, y):
    return pow( pow(x[0]+y[0],2) + pow(x[1]+y[1],2) , 0.5)

u = [1, 0]
v = [0, 1]

print(euclid2(u,v))

1.4142135623730951

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [6]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

dictio = {}

for c in s.lower():
    if c not in dictio:
        dictio.update({c : 1})
    else:
        dictio[c] += 1

for k in dictio:
    print(k, dictio[k])

w 2
r 17
i 14
t 19
e 22
  41
a 7
p 8
o 13
g 1
m 12
h 9
n 10
s 9
u 9
b 5
f 10
1 2
0 2
. 2
l 6
c 3
k 2
y 2
d 3
v 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [10]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def cont(l):
    l_cont = {}
    for num in l:
        # if the number is not in the dictionary and it appears only once then the algorithm appends it to the dictio
        if (num not in l_cont and l.count(num) == 1):
            l_cont.update({num : l.count(num)})
    return l_cont

dictio = cont(l)

print("\nThe numbers that appears only once in the list are:\n", dictio)

print("\nThe length of the dictionary is: ", len(dictio))

The numbers that appears only once in the list are:
 {58: 1, 74: 1, 96: 1, 64: 1, 10: 1, 24: 1, 19: 1, 33: 1, 86: 1, 99: 1, 18: 1, 47: 1, 88: 1, 55: 1, 54: 1, 8: 1, 79: 1, 81: 1, 57: 1, 37: 1, 1: 1, 9: 1, 95: 1, 90: 1, 98: 1, 39: 1, 16: 1, 82: 1, 92: 1, 41: 1, 30: 1, 94: 1, 5: 1, 72: 1, 87: 1, 75: 1, 53: 1}

The length of the dictionary is:  37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [13]:
def square(x):
    return(x*x)

def cube(x):
    return(x*x*x)

def calc(x):
    return(square(cube(x)))

x = float(input("Insert the number of which you want to evaluate the six-th power: "))

calc(x)

Insert the number of which you want to evaluate the six-th power: 4

4096.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [14]:
l_cubes = []

for x in range(0, 11):
    l_cubes.append(x**3)

l_c = [x**3 for x in range(0, 11)]

print(l_cubes)
print(l_c)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [19]:
"""
l_pyth = []
for a in range(1, 101):
    for b in range(a, 101):
        for c in range(b, 101):
            if (a**2 + b**2 == c**2):
                l_pyth.append([a,b,c])
for l in l_pyth:
    print(l)

"""

#limit = int(input("Insert the upper limit untill which looking for Pythagorean triples: "))
limit = 100

l = [(x, y, z) for x in range(1, limit) for y in range(x, limit) for z in range(y, limit) if x**2 + y**2 == z**2]

for ele in l:
    print(ele)

(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(7, 24, 25)
(8, 15, 17)
(9, 12, 15)
(9, 40, 41)
(10, 24, 26)
(11, 60, 61)
(12, 16, 20)
(12, 35, 37)
(13, 84, 85)
(14, 48, 50)
(15, 20, 25)
(15, 36, 39)
(16, 30, 34)
(16, 63, 65)
(18, 24, 30)
(18, 80, 82)
(20, 21, 29)
(20, 48, 52)
(21, 28, 35)
(21, 72, 75)
(24, 32, 40)
(24, 45, 51)
(24, 70, 74)
(25, 60, 65)
(27, 36, 45)
(28, 45, 53)
(30, 40, 50)
(30, 72, 78)
(32, 60, 68)
(33, 44, 55)
(33, 56, 65)
(35, 84, 91)
(36, 48, 60)
(36, 77, 85)
(39, 52, 65)
(39, 80, 89)
(40, 42, 58)
(40, 75, 85)
(42, 56, 70)
(45, 60, 75)
(48, 55, 73)
(48, 64, 80)
(51, 68, 85)
(54, 72, 90)
(57, 76, 95)
(60, 63, 87)
(65, 72, 97)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [20]:
def norm(list_):
    somma = sum(list_)
    
    for e in list_:
        list_[list_.index(e)] = e/somma
    return list_

l = [0, 1, 2, 3, 4, 5, 6, 7]

norm(l)

[0.0,
 0.03571428571428571,
 0.07142857142857142,
 0.10714285714285714,
 0.14285714285714285,
 0.17857142857142858,
 0.21428571428571427,
 0.25]