1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [9]:
def create_tup(a='Mickey',b='Mouse'):
    tup = ()
    for i in range(1,100): 
        if (i%3==0)and(i%5==0):
            print (a+b)
            tup = tup + (a+b,)
        elif i%3==0: 
            print (a)
            tup = tup + (a,)
        elif i%5==0: 
            print (b)
            tup = tup + (b,)
        else: 
            print (i)
            tup = tup + (i,)
    return tup

            
print (create_tup('Donald','Duck'))

1
2
Donald
4
Duck
Donald
7
8
Donald
Duck
11
Donald
13
14
DonaldDuck
16
17
Donald
19
Duck
Donald
22
23
Donald
Duck
26
Donald
28
29
DonaldDuck
31
32
Donald
34
Duck
Donald
37
38
Donald
Duck
41
Donald
43
44
DonaldDuck
46
47
Donald
49
Duck
Donald
52
53
Donald
Duck
56
Donald
58
59
DonaldDuck
61
62
Donald
64
Duck
Donald
67
68
Donald
Duck
71
Donald
73
74
DonaldDuck
76
77
Donald
79
Duck
Donald
82
83
Donald
Duck
86
Donald
88
89
DonaldDuck
91
92
Donald
94
Duck
Donald
97
98
Donald
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [13]:
def swap(x,y):
    return (y,x)

x = 5
y = 10
(x,y)=swap(x,y)
print(x,y)

10 5

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [15]:
def distance(u,v):
    dist = ( (u[0]-v[0])**2 + (u[1]-v[1])**2 )**(1/2)
    return dist

u = (3,0)
v = (0,4)
print (distance(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [11]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

counters = []

for i in range(len(s)):
    if (i==0):
        counters.append([s[i].lower(),1])
    else:
        for k in range(len(counters)):
            if (counters[k][0] == s[i].lower()):
                counters[k][1] = counters[k][1] + 1
                break
            elif (k == len(counters)-1):
                counters.append([s[i].lower(),1])

for i in range(len(counters)):
    print(counters[i])

['w', 2]
['r', 17]
['i', 14]
['t', 19]
['e', 22]
[' ', 41]
['a', 7]
['p', 8]
['o', 13]
['g', 1]
['m', 12]
['h', 9]
['n', 10]
['s', 9]
['u', 9]
['b', 5]
['f', 10]
['1', 2]
['0', 2]
['.', 2]
['l', 6]
['c', 3]
['k', 2]
['y', 2]
['d', 3]
['v', 2]

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [10]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def unique_list (l):
    
    counters = []
    final_list = []
    
    for i in range(len(l)):
        if (i==0):
            counters.append([l[i],1])
        else:
            for k in range(len(counters)):
                if (counters[k][0] == l[i]):
                    counters[k][1] = counters[k][1] + 1
                    break
                elif (k == len(counters)-1):
                    counters.append([l[i],1])
                
    for i in range(len(counters)):
        if (counters[i][1]==1):
            final_list.append(counters[i][0])
    
    return final_list


print(unique_list(l))

[58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [20]:
def square (n):
    return n**2

def cube (n):
    return n**3

def power_6 (n):
    return (cube(square(n)))

print (power_6(2))

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [4]:
cube_list_a = []
for x in range(11):
    cube_list_a.append(x**3)

cube_list_b = [x**3 for x in range(11)]

print(cube_list_a)
print(cube_list_b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [9]:
Pythagorean_triples = [[[[a for a in range(b) if a**2+b**2==c**2],b] for b in range(c)],c] for c in range(100)]
                        #BOH, rivedere
pit_list = []
for c in range (100):
    for b in range (c):
        for a in range (b):
            if (a**2+b**2==c**2):
                pit_list.append([a,b,c])

print (Pythagorean_triples)

SyntaxError: invalid syntax (<ipython-input-9-901e2b46e0b2>, line 1)

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [7]:
import math

def normalize(tupla):
    sum_squared = 0
    for i in range(len(tupla)):
        sum_squared += tupla[i]**2
    norm_list = [tupla[i]/math.sqrt(sum_squared) for i in range(len(tupla))]
    return tuple(norm_list)

example = (1,2,3)
print(normalize(example))

(0.4472135954999579, 0.8944271909999159)