1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [12]:
for i in range(1,101,1):
    if i%3 == 0 and i%5 == 0:
        print("MickeyMouse")
    elif i%3 == 0:
        print("Mickey")
    elif i%5 == 0:
        print("Mouse")
    else:
        print(i)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse

In [13]:
def prnt(i):
    if i%3 == 0 and i%5 == 0:
        return "MickeyMouse"
    elif i%3 == 0:
        return "Mickey"
    elif i%5 == 0:
        return "Mouse"
    else:
        return i

l = [str(prnt(i)) for i in range(1, 101) ]

for c in l:
    print(c)
print("\n\n\n")

a = l

for c in a:
    c=str(c)
    if "MickeyMouse" in c:
        a[a.index(c)] = "DonaldDuck"
    if "Mickey" in c:
        a[a.index(c)] = "Donald"
    if "Mouse" in c:
        a[a.index(c)] = "Duck"
        
for b in a:
    print(b)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse




1
2
Donald
4
Duck
Donald
7
8
Donald
Duck
11
Donald
13
14
DonaldDuck
16
17
Donald
19
Duck
Donald
22
23
Donald
Duck
26
Donald
28
29
Donald
31
32
Donald
34
Duck
Donald
37
38
Donald
Duck
41
Donald
43
44
Duck
46
47
Donald
49
Duck
Donald
52
53
Donald
Duck
56
Donald
58
59
DonaldDuck
61
62
Donald
64
Duck
Donald
67
68
Donald
Duck
71
Donald
73
74
Donald
76
77
Donald
79
Duck
Donald
82
83
Donald
Duck
86
Donald
88
89
Duck
91
92
Donald
94
Duck
Donald
97
98
Donald
Duck

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [14]:
x, y = [1], [5]
print("Starting values for x,y: ",x[0],y[0])
#swapping in python requires using structured variables such as lists, since they act as pointers

def swap(a,b): 
    a[0],b[0]=b[0],a[0]

swap(x,y)
print("End values for x,y after being swapped: ",x[0],y[0])

Starting values for x,y:  1 5
End values for x,y after being swapped:  5 1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [15]:
def euclid(u,v):
    return (((u[0]-v[0])**2)+((u[1]-v[1])**2))**(0.5)

u = [3,0]
v = [0,4]

print(euclid(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [16]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

def cnt(a,b):
    return (b.count(a))
l=[]
for c in s.lower():
    if c not in l:
        l.append(c)
        print(c,cnt(str(c),s.lower()))

w 2
r 17
i 14
t 19
e 22
  41
a 7
p 8
o 13
g 1
m 12
h 9
n 10
s 9
u 9
b 5
f 10
1 2
0 2
. 2
l 6
c 3
k 2
y 2
d 3
v 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [17]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]


def cu(b):
    s=[]
    for c in b:
        if b.count(c) == 1:
            s.append(c) #if an element appears only once, it is added to the list s
            print(c) #the unique element is then printed
    return len(s) 
#the function returns the length of the list s, which is the number of unique numbers in the starting list

print("The number of unique characters in the list is",cu(l))

58
74
96
64
10
24
19
33
86
99
18
47
88
55
54
8
79
81
57
37
1
9
95
90
98
39
16
82
92
41
30
94
5
72
87
75
53
The number of unique characters in the list is 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [18]:
def sq(a):
    return a**2

def cu(a):
    return a**3

def six(a):
    return sq(cu(a))

b=input("ins num: ")
b=float(b)
print(b, "to the sixth is equal to",six(b))

ins num: 14
14.0 to the sixth is equal to 7529536.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [19]:
#forloop
l=[]

for i in range (0,11):
    l.append(i**3)
    
for c in l:
    print(c)
    
print("\n")    
#comp

a = [x**3 for x in range(0,11)]

for d in a:
    print(d)

0
1
8
27
64
125
216
343
512
729
1000


0
1
8
27
64
125
216
343
512
729
1000

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [20]:
l = [(x,y,z) for x in range(1,101) for y in range(x,101) for z in range(y,101) if x**2 + y**2 == z**2]   
#by restricting y>x and z>y, this comprehension returns each triple only once
print(l)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [21]:
def norm(l):
    tot=0
    for c in l:
        tot+=c
    for c in l:
        l[l.index(c)]=c/tot #l[l.index(c)] = element c itself
    return l

l=[1,2,3]

norm(l)

[0.16666666666666666, 0.3333333333333333, 0.5]