# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [1]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [3]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print (xs,'\n')
print (xs.index,'\n')
# Values of the Series are actually a numpy array
print (xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')

a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

In [4]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [5]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without giving consideration to whether the Series involved have the same labels.

In [6]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
s[1:] + s[:-1]

a         NaN
b    2.235008
c   -3.490376
d    2.349070
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [7]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
date = dt.datetime(2018,11,19,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 19 2018'
date = '19/11/2018 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2018-11-19 14:45:10.000015
19/11/2018 14:45:00
DatetimeIndex(['2018-11-19 14:45:00', '2018-11-20 14:45:00',
               '2018-11-21 14:45:00', '2018-11-22 14:45:00',
               '2018-11-23 14:45:00', '2018-11-24 14:45:00',
               '2018-11-25 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2018-11-19 14:45:00', '2018-11-19 14:45:01',
               '2018-11-19 14:45:02', '2018-11-19 14:45:03',
               '2018-11-19 14:45:04', '2018-11-19 14:45:05',
               '2018-11-19 14:45:06', '2018-11-19 14:45:07',
               '2018-11-19 14:45:08', '2018-11-19 14:45:09',
               ...
               '2018-11-19 15:44:50', '2018-11-19 15:44:51',
               '2018-11-19 15:44:52', '2018-11-19 15:44:53',
               '2018-11-19 15:44:54', '2018-11-19 15:44:55',
               '2018-11-19 15:44:56', '2018-11-19 15:44:57',
               '2018-11-19 15:44:58', '2018-11-19 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [8]:
tstamp = pd.Timestamp(dt.datetime(2018, 11, 19))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
print (pd.to_datetime('2010/11/12', format='%Y/%m/%d'))
print (pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M'))

1542585600000000000
2010-11-12 00:00:00
2010-11-12 00:00:00

A standard series can be created and (range of) elements can be used as indexes

In [10]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2018-11-19':'2018-11-21'], '\n') # Note - includes end time

2018-11-19 14:45:00    9.531039
2018-11-20 14:45:00    8.920724
2018-11-21 14:45:00    7.842752
2018-11-22 14:45:00    9.760745
Freq: D, dtype: float64

2018-11-19 14:45:00    9.531039
2018-11-20 14:45:00    8.920724
2018-11-21 14:45:00    7.842752
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [ ]:
pd.to_datetime([1, 2, 3], unit='D', origin=pd.Timestamp('1980-02-03'))

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [11]:
entries=10
dates=pd.date_range('19/11/2018 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2018-11-19 14:45:00  0.667637 -0.491807  2.202829  1.241955
2018-11-19 15:45:00 -2.007701 -2.406459  0.725650 -1.031714
2018-11-19 16:45:00 -0.662375 -0.553592 -0.129108  0.320727
2018-11-19 17:45:00  0.151004  0.036521  1.177614 -0.023050
2018-11-19 18:45:00 -1.344305  0.433821 -0.736984  1.453917
2018-11-19 19:45:00  0.795871 -0.419894 -0.571587  0.270833
2018-11-19 20:45:00  2.077796  0.873576  1.359858 -0.139610
2018-11-19 21:45:00  0.924867  0.312134 -0.376361  1.008438
2018-11-19 22:45:00  0.148717 -1.146749  0.630580  0.420375
2018-11-19 23:45:00  0.412956 -0.416899  1.048633  0.394991

or by means of a dictionary:

In [12]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )

In [13]:
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [14]:
df.head() #posso vedere ma anche settare

                            A         B         C         D
2018-11-19 14:45:00  0.667637 -0.491807  2.202829  1.241955
2018-11-19 15:45:00 -2.007701 -2.406459  0.725650 -1.031714
2018-11-19 16:45:00 -0.662375 -0.553592 -0.129108  0.320727
2018-11-19 17:45:00  0.151004  0.036521  1.177614 -0.023050
2018-11-19 18:45:00 -1.344305  0.433821 -0.736984  1.453917

In [15]:
df.tail(4)

                            A         B         C         D
2018-11-19 20:45:00  2.077796  0.873576  1.359858 -0.139610
2018-11-19 21:45:00  0.924867  0.312134 -0.376361  1.008438
2018-11-19 22:45:00  0.148717 -1.146749  0.630580  0.420375
2018-11-19 23:45:00  0.412956 -0.416899  1.048633  0.394991

In [16]:
df.index

DatetimeIndex(['2018-11-19 14:45:00', '2018-11-19 15:45:00',
               '2018-11-19 16:45:00', '2018-11-19 17:45:00',
               '2018-11-19 18:45:00', '2018-11-19 19:45:00',
               '2018-11-19 20:45:00', '2018-11-19 21:45:00',
               '2018-11-19 22:45:00', '2018-11-19 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.values

array([[ 0.66763693, -0.49180692,  2.20282882,  1.24195544],
       [-2.00770111, -2.40645902,  0.72565006, -1.03171392],
       [-0.6623752 , -0.55359161, -0.12910757,  0.32072735],
       [ 0.15100388,  0.03652101,  1.17761378, -0.02305033],
       [-1.34430513,  0.43382074, -0.73698386,  1.45391681],
       [ 0.79587054, -0.41989414, -0.57158667,  0.27083286],
       [ 2.07779643,  0.87357607,  1.35985791, -0.1396096 ],
       [ 0.92486744,  0.31213368, -0.37636055,  1.00843783],
       [ 0.1487174 , -1.14674924,  0.63057998,  0.42037465],
       [ 0.4129565 , -0.41689872,  1.04863279,  0.39499125]])

In [19]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.116447  -0.377935   0.533112   0.391686
std     1.183609   0.920524   0.960229   0.725144
min    -2.007701  -2.406459  -0.736984  -1.031714
25%    -0.459602  -0.538145  -0.314547   0.050420
50%     0.281980  -0.418396   0.678115   0.357859
75%     0.763812   0.243231   1.145369   0.861422
max     2.077796   0.873576   2.202829   1.453917

In [20]:
df.T

,2018-11-19 14:45:00,2018-11-19 15:45:00,2018-11-19 16:45:00,2018-11-19 17:45:00,2018-11-19 18:45:00,2018-11-19 19:45:00,2018-11-19 20:45:00,2018-11-19 21:45:00,2018-11-19 22:45:00,2018-11-19 23:45:00
A,0.667637,-2.007701,-0.662375,0.151004,-1.344305,0.795871,2.077796,0.924867,0.148717,0.412956
B,-0.491807,-2.406459,-0.553592,0.036521,0.433821,-0.419894,0.873576,0.312134,-1.146749,-0.416899
C,2.202829,0.725650,-0.129108,1.177614,-0.736984,-0.571587,1.359858,-0.376361,0.630580,1.048633
D,1.241955,-1.031714,0.320727,-0.023050,1.453917,0.270833,-0.139610,1.008438,0.420375,0.394991

In [24]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2018-11-19 14:45:00  1.241955  2.202829 -0.491807  0.667637
2018-11-19 15:45:00 -1.031714  0.725650 -2.406459 -2.007701
2018-11-19 16:45:00  0.320727 -0.129108 -0.553592 -0.662375
2018-11-19 17:45:00 -0.023050  1.177614  0.036521  0.151004
2018-11-19 18:45:00  1.453917 -0.736984  0.433821 -1.344305
2018-11-19 19:45:00  0.270833 -0.571587 -0.419894  0.795871
2018-11-19 20:45:00 -0.139610  1.359858  0.873576  2.077796
2018-11-19 21:45:00  1.008438 -0.376361  0.312134  0.924867
2018-11-19 22:45:00  0.420375  0.630580 -1.146749  0.148717
2018-11-19 23:45:00  0.394991  1.048633 -0.416899  0.412956

In [25]:
df.sort_values(by="C")

                            A         B         C         D
2018-11-19 18:45:00 -1.344305  0.433821 -0.736984  1.453917
2018-11-19 19:45:00  0.795871 -0.419894 -0.571587  0.270833
2018-11-19 21:45:00  0.924867  0.312134 -0.376361  1.008438
2018-11-19 16:45:00 -0.662375 -0.553592 -0.129108  0.320727
2018-11-19 22:45:00  0.148717 -1.146749  0.630580  0.420375
2018-11-19 15:45:00 -2.007701 -2.406459  0.725650 -1.031714
2018-11-19 23:45:00  0.412956 -0.416899  1.048633  0.394991
2018-11-19 17:45:00  0.151004  0.036521  1.177614 -0.023050
2018-11-19 20:45:00  2.077796  0.873576  1.359858 -0.139610
2018-11-19 14:45:00  0.667637 -0.491807  2.202829  1.241955

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [26]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..) metodo con blank space
print (df.A)

2018-11-19 14:45:00    0.667637
2018-11-19 15:45:00   -2.007701
2018-11-19 16:45:00   -0.662375
2018-11-19 17:45:00    0.151004
2018-11-19 18:45:00   -1.344305
2018-11-19 19:45:00    0.795871
2018-11-19 20:45:00    2.077796
2018-11-19 21:45:00    0.924867
2018-11-19 22:45:00    0.148717
2018-11-19 23:45:00    0.412956
Freq: H, Name: A, dtype: float64

2018-11-19 14:45:00    0.667637
2018-11-19 15:45:00   -2.007701
2018-11-19 16:45:00   -0.662375
2018-11-19 17:45:00    0.151004
2018-11-19 18:45:00   -1.344305
2018-11-19 19:45:00    0.795871
2018-11-19 20:45:00    2.077796
2018-11-19 21:45:00    0.924867
2018-11-19 22:45:00    0.148717
2018-11-19 23:45:00    0.412956
Freq: H, Name: A, dtype: float64

In [27]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2018-11-19 14:45:00":"2018-11-19 16:45:00"])

                            A         B         C         D
2018-11-19 14:45:00  0.667637 -0.491807  2.202829  1.241955
2018-11-19 15:45:00 -2.007701 -2.406459  0.725650 -1.031714
2018-11-19 16:45:00 -0.662375 -0.553592 -0.129108  0.320727
                            A         B         C         D
2018-11-19 14:45:00  0.667637 -0.491807  2.202829  1.241955
2018-11-19 15:45:00 -2.007701 -2.406459  0.725650 -1.031714
2018-11-19 16:45:00 -0.662375 -0.553592 -0.129108  0.320727

### Selection by label

In [29]:
# getting a cross section (part of the DataFrame) using a label
df.loc[dates[0]]

A    0.667637
B   -0.491807
C    2.202829
D    1.241955
Name: 2018-11-19 14:45:00, dtype: float64

In [30]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2018-11-19 14:45:00  0.667637 -0.491807
2018-11-19 15:45:00 -2.007701 -2.406459
2018-11-19 16:45:00 -0.662375 -0.553592
2018-11-19 17:45:00  0.151004  0.036521
2018-11-19 18:45:00 -1.344305  0.433821
2018-11-19 19:45:00  0.795871 -0.419894
2018-11-19 20:45:00  2.077796  0.873576
2018-11-19 21:45:00  0.924867  0.312134
2018-11-19 22:45:00  0.148717 -1.146749
2018-11-19 23:45:00  0.412956 -0.416899

In [31]:
# showing label slicing, both endpoints are included:
df.loc['2018-11-19 18:45:00':'2018-11-19 20:45:00',['A','B']]

                            A         B
2018-11-19 18:45:00 -1.344305  0.433821
2018-11-19 19:45:00  0.795871 -0.419894
2018-11-19 20:45:00  2.077796  0.873576

In [32]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

-2.0077011140713714
-2.0077011140713714

### Selecting by position

In [33]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    0.151004
B    0.036521
C    1.177614
D   -0.023050
Name: 2018-11-19 17:45:00, dtype: float64

                            A         B
2018-11-19 17:45:00  0.151004  0.036521
2018-11-19 18:45:00 -1.344305  0.433821

In [34]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2018-11-19 15:45:00 -2.007701  0.725650
2018-11-19 16:45:00 -0.662375 -0.129108
2018-11-19 18:45:00 -1.344305 -0.736984

In [35]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2018-11-19 15:45:00 -2.007701 -2.406459  0.725650 -1.031714
2018-11-19 16:45:00 -0.662375 -0.553592 -0.129108  0.320727

                            B         C
2018-11-19 14:45:00 -0.491807  2.202829
2018-11-19 15:45:00 -2.406459  0.725650
2018-11-19 16:45:00 -0.553592 -0.129108
2018-11-19 17:45:00  0.036521  1.177614
2018-11-19 18:45:00  0.433821 -0.736984
2018-11-19 19:45:00 -0.419894 -0.571587
2018-11-19 20:45:00  0.873576  1.359858
2018-11-19 21:45:00  0.312134 -0.376361
2018-11-19 22:45:00 -1.146749  0.630580
2018-11-19 23:45:00 -0.416899  1.048633

In [36]:
# selecting an individual element by position, equivalent
df.iloc[1,1]
df.iat[1,1]

-2.4064590231924146

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [37]:
# Filter by a boolean condition on the values of a single column
df[df['B'] > 0]

                            A         B         C         D
2018-11-19 17:45:00  0.151004  0.036521  1.177614 -0.023050
2018-11-19 18:45:00 -1.344305  0.433821 -0.736984  1.453917
2018-11-19 20:45:00  2.077796  0.873576  1.359858 -0.139610
2018-11-19 21:45:00  0.924867  0.312134 -0.376361  1.008438

In [38]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2018-11-19 14:45:00  0.667637       NaN  2.202829  1.241955
2018-11-19 15:45:00       NaN       NaN  0.725650       NaN
2018-11-19 16:45:00       NaN       NaN       NaN  0.320727
2018-11-19 17:45:00  0.151004  0.036521  1.177614       NaN
2018-11-19 18:45:00       NaN  0.433821       NaN  1.453917
2018-11-19 19:45:00  0.795871       NaN       NaN  0.270833
2018-11-19 20:45:00  2.077796  0.873576  1.359858       NaN
2018-11-19 21:45:00  0.924867  0.312134       NaN  1.008438
2018-11-19 22:45:00  0.148717       NaN  0.630580  0.420375
2018-11-19 23:45:00  0.412956       NaN  1.048633  0.394991

### Setting

Combination of selection and setting of values

In [47]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5


# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)

In [48]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.491807  2.202829  5  0.0        0  1.000000
2018-11-19 15:45:00 -2.007701 -2.406459  0.725650  5  0.5        2  0.999962
2018-11-19 16:45:00 -0.662375 -0.553592 -0.129108  5  1.0        4  0.999848
2018-11-19 17:45:00  0.151004  0.036521  1.177614  5  1.5        6  0.999657
2018-11-19 18:45:00 -1.344305  0.433821 -0.736984  5  2.0        8  0.999391
2018-11-19 19:45:00  0.795871 -0.419894 -0.571587  5  2.5       10  0.999048
2018-11-19 20:45:00  2.077796  0.873576  1.359858  5  3.0       12  0.998630
2018-11-19 21:45:00  0.924867  0.312134 -0.376361  5  3.5       14  0.998135
2018-11-19 22:45:00  0.148717 -1.146749  0.630580  5  4.0       16  0.997564
2018-11-19 23:45:00  0.412956 -0.416899  1.048633  5  4.5       18  0.996917

In [49]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.491807 -2.202829 -5  0.0        0 -1.000000
2018-11-19 15:45:00 -2.007701 -2.406459 -0.725650 -5 -0.5       -2 -0.999962
2018-11-19 16:45:00 -0.662375 -0.553592 -0.129108 -5 -1.0       -4 -0.999848
2018-11-19 17:45:00 -0.151004 -0.036521 -1.177614 -5 -1.5       -6 -0.999657
2018-11-19 18:45:00 -1.344305 -0.433821 -0.736984 -5 -2.0       -8 -0.999391
2018-11-19 19:45:00 -0.795871 -0.419894 -0.571587 -5 -2.5      -10 -0.999048
2018-11-19 20:45:00 -2.077796 -0.873576 -1.359858 -5 -3.0      -12 -0.998630
2018-11-19 21:45:00 -0.924867 -0.312134 -0.376361 -5 -3.5      -14 -0.998135
2018-11-19 22:45:00 -0.148717 -1.146749 -0.630580 -5 -4.0      -16 -0.997564
2018-11-19 23:45:00 -0.412956 -0.416899 -1.048633 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [50]:
# Dropping by column
#df.drop(['E prime'], axis=1)

#which is equivalent to
df.drop(columns=['E prime'])

                            A         B         C  D    E    cosine
2018-11-19 14:45:00  0.000000 -0.491807  2.202829  5  0.0  1.000000
2018-11-19 15:45:00 -2.007701 -2.406459  0.725650  5  0.5  0.999962
2018-11-19 16:45:00 -0.662375 -0.553592 -0.129108  5  1.0  0.999848
2018-11-19 17:45:00  0.151004  0.036521  1.177614  5  1.5  0.999657
2018-11-19 18:45:00 -1.344305  0.433821 -0.736984  5  2.0  0.999391
2018-11-19 19:45:00  0.795871 -0.419894 -0.571587  5  2.5  0.999048
2018-11-19 20:45:00  2.077796  0.873576  1.359858  5  3.0  0.998630
2018-11-19 21:45:00  0.924867  0.312134 -0.376361  5  3.5  0.998135
2018-11-19 22:45:00  0.148717 -1.146749  0.630580  5  4.0  0.997564
2018-11-19 23:45:00  0.412956 -0.416899  1.048633  5  4.5  0.996917

In [51]:
# Dropping by raws
# save and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.491807  2.202829  5  0.0        0  1.000000
2018-11-19 19:45:00  0.795871 -0.419894 -0.571587  5  2.5       10  0.999048
2018-11-19 20:45:00  2.077796  0.873576  1.359858  5  3.0       12  0.998630
2018-11-19 21:45:00  0.924867  0.312134 -0.376361  5  3.5       14  0.998135
2018-11-19 22:45:00  0.148717 -1.146749  0.630580  5  4.0       16  0.997564
2018-11-19 23:45:00  0.412956 -0.416899  1.048633  5  4.5       18  0.996917

In [52]:
# something like df.drop('index_name') 
# would work but the type of index must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2018-11-19 22:45:00"))
df #drop non modifica

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.491807  2.202829  5  0.0        0  1.000000
2018-11-19 15:45:00 -2.007701 -2.406459  0.725650  5  0.5        2  0.999962
2018-11-19 16:45:00 -0.662375 -0.553592 -0.129108  5  1.0        4  0.999848
2018-11-19 17:45:00  0.151004  0.036521  1.177614  5  1.5        6  0.999657
2018-11-19 18:45:00 -1.344305  0.433821 -0.736984  5  2.0        8  0.999391
2018-11-19 19:45:00  0.795871 -0.419894 -0.571587  5  2.5       10  0.999048
2018-11-19 20:45:00  2.077796  0.873576  1.359858  5  3.0       12  0.998630
2018-11-19 21:45:00  0.924867  0.312134 -0.376361  5  3.5       14  0.998135
2018-11-19 22:45:00  0.148717 -1.146749  0.630580  5  4.0       16  0.997564
2018-11-19 23:45:00  0.412956 -0.416899  1.048633  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [62]:
df_wNan = df[df>0].drop(['A', 'B', 'C'], axis=1)
df_wNan

                     D    E  E prime    cosine
2018-11-19 14:45:00  5  NaN      NaN  1.000000
2018-11-19 15:45:00  5  0.5      2.0  0.999962
2018-11-19 16:45:00  5  1.0      4.0  0.999848
2018-11-19 17:45:00  5  1.5      6.0  0.999657
2018-11-19 18:45:00  5  2.0      8.0  0.999391
2018-11-19 19:45:00  5  2.5     10.0  0.999048
2018-11-19 20:45:00  5  3.0     12.0  0.998630
2018-11-19 21:45:00  5  3.5     14.0  0.998135
2018-11-19 22:45:00  5  4.0     16.0  0.997564
2018-11-19 23:45:00  5  4.5     18.0  0.996917

In [63]:
# dropping raws with at least a Nan

df_wNan.dropna(how='any')

                     D    E  E prime    cosine
2018-11-19 15:45:00  5  0.5      2.0  0.999962
2018-11-19 16:45:00  5  1.0      4.0  0.999848
2018-11-19 17:45:00  5  1.5      6.0  0.999657
2018-11-19 18:45:00  5  2.0      8.0  0.999391
2018-11-19 19:45:00  5  2.5     10.0  0.999048
2018-11-19 20:45:00  5  3.0     12.0  0.998630
2018-11-19 21:45:00  5  3.5     14.0  0.998135
2018-11-19 22:45:00  5  4.0     16.0  0.997564
2018-11-19 23:45:00  5  4.5     18.0  0.996917

In [57]:
# getting a mask
df_wNan.isna()
#df_wNan.notna()

                         A      B      C      D      E  E prime  cosine
2018-11-19 14:45:00   True   True  False  False   True     True   False
2018-11-19 15:45:00   True   True  False  False  False    False   False
2018-11-19 16:45:00   True   True   True  False  False    False   False
2018-11-19 17:45:00  False  False  False  False  False    False   False
2018-11-19 18:45:00   True  False   True  False  False    False   False
2018-11-19 19:45:00  False   True   True  False  False    False   False
2018-11-19 20:45:00  False  False  False  False  False    False   False
2018-11-19 21:45:00  False  False   True  False  False    False   False
2018-11-19 22:45:00  False   True  False  False  False    False   False
2018-11-19 23:45:00  False   True  False  False  False    False   False

In [64]:
# filling missing data
df_wNan.fillna(value=0)

                     D    E  E prime    cosine
2018-11-19 14:45:00  5  0.0      0.0  1.000000
2018-11-19 15:45:00  5  0.5      2.0  0.999962
2018-11-19 16:45:00  5  1.0      4.0  0.999848
2018-11-19 17:45:00  5  1.5      6.0  0.999657
2018-11-19 18:45:00  5  2.0      8.0  0.999391
2018-11-19 19:45:00  5  2.5     10.0  0.999048
2018-11-19 20:45:00  5  3.0     12.0  0.998630
2018-11-19 21:45:00  5  3.5     14.0  0.998135
2018-11-19 22:45:00  5  4.0     16.0  0.997564
2018-11-19 23:45:00  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [65]:
df_wNan.fillna(method='pad')

                     D    E  E prime    cosine
2018-11-19 14:45:00  5  NaN      NaN  1.000000
2018-11-19 15:45:00  5  0.5      2.0  0.999962
2018-11-19 16:45:00  5  1.0      4.0  0.999848
2018-11-19 17:45:00  5  1.5      6.0  0.999657
2018-11-19 18:45:00  5  2.0      8.0  0.999391
2018-11-19 19:45:00  5  2.5     10.0  0.999048
2018-11-19 20:45:00  5  3.0     12.0  0.998630
2018-11-19 21:45:00  5  3.5     14.0  0.998135
2018-11-19 22:45:00  5  4.0     16.0  0.997564
2018-11-19 23:45:00  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [66]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A          0.049683
B         -0.377935
C          0.533112
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2018-11-19 14:45:00    1.101575
2018-11-19 15:45:00    0.687350
2018-11-19 16:45:00    1.379253
2018-11-19 17:45:00    2.123542
2018-11-19 18:45:00    2.050275
2018-11-19 19:45:00    2.614777
2018-11-19 20:45:00    3.615694
2018-11-19 21:45:00    3.479825
2018-11-19 22:45:00    3.661445
2018-11-19 23:45:00    4.220230
Freq: H, dtype: float64

In [67]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.491807  2.202829   5   0.0        0  1.000000
2018-11-19 15:45:00 -2.007701 -2.898266  2.928479  10   0.5        2  1.999962
2018-11-19 16:45:00 -2.670076 -3.451858  2.799371  15   1.5        6  2.999810
2018-11-19 17:45:00 -2.519072 -3.415337  3.976985  20   3.0       12  3.999467
2018-11-19 18:45:00 -3.863378 -2.981516  3.240001  25   5.0       20  4.998858
2018-11-19 19:45:00 -3.067507 -3.401410  2.668415  30   7.5       30  5.997906
2018-11-19 20:45:00 -0.989711 -2.527834  4.028272  35  10.5       42  6.996536
2018-11-19 21:45:00 -0.064843 -2.215700  3.651912  40  14.0       56  7.994670
2018-11-19 22:45:00  0.083874 -3.362449  4.282492  45  18.0       72  8.992234
2018-11-19 23:45:00  0.496831 -3.779348  5.331125  50  22.5       90  9.989152

In [68]:
df.apply(lambda x: x.max() - x.min())

A           4.085498
B           3.280035
C           2.939813
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [69]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2018-11-19 14:45:00   -0.491807
2018-11-19 15:45:00   -4.414160
2018-11-19 16:45:00   -1.215967
2018-11-19 17:45:00    0.187525
2018-11-19 18:45:00   -0.910484
2018-11-19 19:45:00    0.375976
2018-11-19 20:45:00    2.951373
2018-11-19 21:45:00    1.237001
2018-11-19 22:45:00   -0.998032
2018-11-19 23:45:00   -0.003942
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [70]:
file_name="/Users/mzanetti/data/LEMMA2018/DT/raw/data_000636.txt"
data=pd.read_csv(file_name)
data

FileNotFoundError: File b'/Users/mzanetti/data/LEMMA2018/DT/raw/data_000636.txt' does not exist

Let's know do some operations among (elements of) columns

In [ ]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)

In [ ]:
data

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding raws) is straightforward

In [ ]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

In [ ]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

In [ ]:
# put it back together
pd.concat(pieces)

# indexes can be ignored
#pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

In [ ]:
# appending a single raw (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [71]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

   key  lval  rval
0  foo     1     4
1  bar     2     5

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [ ]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

In [ ]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [74]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

first  second
bar    one      -0.878001
       two      -1.990543
baz    one       0.394189
       two      -0.494454
foo    one       0.345873
       two       0.369239
qux    one      -1.757055
       two      -1.226651
dtype: float64

In [ ]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

In [ ]:
# stack() method “compresses” a level in the DataFrame’s columns
gdf.groupby(['A','B']).sum().stack()

## Plotting

Just a preview, more on the next lab class!

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [ ]:
pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')