# Pandas

The `numpy` module is excellent for numerical computations, but to handle missing data or arrays with mixed types takes more work. The `pandas` module is currently the most widely used tool for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient "DataFrame" object for data manipulation with integrated indexing;
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
* Intelligent data alignment and integrated handling of missing data;
* Intelligent label-based slicing, fancy indexing, and subsetting of large data sets;
* Aggregating or transforming data with a powerful "group-by" engine; 
* High performance merging and joining of data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.

In [3]:
import pandas as pd
import numpy as np

## Series

Series are completely equivalent to 1D array but with axis labels and the possibility to store heterogeneous elements. Of paramount importance are the time-series, used to define time evolutions of a phenomenon.

In [10]:
from string import ascii_lowercase as letters

# Creating a series, accessing indexes, values and values by their index 
xs = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]))
print (xs,'\n')
print (xs.index,'\n')
# Values of the Series are actually a numpy array
print (xs.values, type(xs.values),'\n')
print (xs['f'], xs.f, xs.h, '\n')
print (xs[['d', 'f', 'h']], '\n')

a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

[ 0.   0.5  1.   1.5  2.   2.5  3.   3.5  4.   4.5] <class 'numpy.ndarray'>

2.5 2.5 3.5

d    1.5
f    2.5
h    3.5
dtype: float64

In [13]:
# Extracting elements and operations: same as numpy array
print (xs[:3],'\n')
print (xs[7:], '\n')
print (xs[::3], '\n')
print (xs[xs>3], '\n')
print (np.exp(xs), '\n')
print (np.mean(xs), np.std(xs), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

In [14]:
# Series can be created from python dictionary too.
# Not that the elements can be whatever!
d = {'b' : 1, 'a' : 'cat', 'c' : [2,3]}
pd.Series(d)

a       cat
b         1
c    [2, 3]
dtype: object

A key difference between Series and ndarray is that operations between Series automatically align the data based on label. Thus, you can write computations without giving consideration to whether the Series involved have the same labels.

In [19]:
s = pd.Series(np.random.randn(5), index=tuple(letters[:5]))
s[1:] + s[:-1]

a         NaN
b   -1.760231
c   -0.462746
d    0.339730
e         NaN
dtype: float64

### Time series

Time series are very often used to profile the behaviour of a quantity as a function of time. Pandas as a special index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`

In [20]:
# to define a date, the datetime module is very useful
import datetime as dt
date = dt.date.today()
date = dt.datetime(2018,11,19,14,45,10,15)
print (date)

# otherwise, several notations are interpreted too
date = 'Nov 19 2018'
date = '19/11/2018 14:45:00'
print (date)

days = pd.date_range(date, periods=7, freq='D')
print (days)

seconds = pd.date_range(date, periods=3600, freq='s')
print (seconds)

2018-11-19 14:45:10.000015
19/11/2018 14:45:00
DatetimeIndex(['2018-11-19 14:45:00', '2018-11-20 14:45:00',
               '2018-11-21 14:45:00', '2018-11-22 14:45:00',
               '2018-11-23 14:45:00', '2018-11-24 14:45:00',
               '2018-11-25 14:45:00'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2018-11-19 14:45:00', '2018-11-19 14:45:01',
               '2018-11-19 14:45:02', '2018-11-19 14:45:03',
               '2018-11-19 14:45:04', '2018-11-19 14:45:05',
               '2018-11-19 14:45:06', '2018-11-19 14:45:07',
               '2018-11-19 14:45:08', '2018-11-19 14:45:09',
               ...
               '2018-11-19 15:44:50', '2018-11-19 15:44:51',
               '2018-11-19 15:44:52', '2018-11-19 15:44:53',
               '2018-11-19 15:44:54', '2018-11-19 15:44:55',
               '2018-11-19 15:44:56', '2018-11-19 15:44:57',
               '2018-11-19 15:44:58', '2018-11-19 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please see this [link](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)


Timestamped data is the most basic type of time series data that associates values with points in time. For pandas objects it means using the points in time.

functions like `pd.to_datetime` can be used, for instance, when reading information as string from a dataset

In [21]:
tstamp = pd.Timestamp(dt.datetime(2018, 11, 19))

# internally it counts the nanoseconds from January 1st 19
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print(tstamp.value)

# when creating a timestamp the format can be explicitly passed
print (pd.to_datetime('2010/11/12', format='%Y/%m/%d'))
print (pd.to_datetime('12-11-2010 00:00', format='%d-%m-%Y %H:%M'))

1542585600000000000
2010-11-12 00:00:00
2010-11-12 00:00:00

A standard series can be created and (range of) elements can be used as indexes

In [23]:
tseries = pd.Series(np.random.normal(10, 1, len(days)), index=days)
# Extracting elements
print (tseries[0:4], '\n')
print (tseries['2018-11-19':'2018-11-21'], '\n') # Note - includes end time

2018-11-19 14:45:00    11.158627
2018-11-20 14:45:00     9.632573
2018-11-21 14:45:00     8.310112
2018-11-22 14:45:00    10.340815
Freq: D, dtype: float64

2018-11-19 14:45:00    11.158627
2018-11-20 14:45:00     9.632573
2018-11-21 14:45:00     8.310112
Freq: D, dtype: float64

`pd.to_datetime` can also be used to create a `DatetimeIndex`:

In [24]:
pd.to_datetime([1, 2, 3], unit='D', origin=pd.Timestamp('1980-02-03'))

DatetimeIndex(['1980-02-04', '1980-02-05', '1980-02-06'], dtype='datetime64[ns]', freq=None)

## DataFrame

A pandas DataFrame is like a simple tabular spreadsheet. For future reference (or for people already familiar with R), a pandas DataFrame is very similar to the R DataFrame.

Each column in a DataFrame is a Series object.

The element can be whatever, missing data are dealt with too (as NaN)

### DataFrame creation

A DataFrame can be created implicitly, with, e.g., a DatatimeIndex object as index:

In [25]:
entries=10
dates=pd.date_range('19/11/2018 14:45:00',freq='h', periods=entries)
df = pd.DataFrame(np.random.randn(entries,4), index=dates, columns=['A','B','C','D'])
df

                            A         B         C         D
2018-11-19 14:45:00  0.254755 -0.408778 -0.672927 -0.246030
2018-11-19 15:45:00  0.124616 -0.570580  0.313250 -0.127965
2018-11-19 16:45:00  0.360262 -0.809597  0.881252 -1.482670
2018-11-19 17:45:00  0.786788  0.924543  0.889495 -1.210049
2018-11-19 18:45:00  1.447087  2.254845  0.020135 -0.812899
2018-11-19 19:45:00  0.730066 -0.813791  1.048447  0.645683
2018-11-19 20:45:00 -1.748170 -1.956671  0.508050  0.712614
2018-11-19 21:45:00 -0.299697 -1.483437  0.088709 -3.664346
2018-11-19 22:45:00  0.044704 -0.275880 -1.633099  1.020977
2018-11-19 23:45:00 -1.328099  0.083498  0.210805  0.665545

or by means of a dictionary:

In [27]:
df2 = pd.DataFrame(
    { 'A' : 1.,
      'B' : pd.Timestamp('20130102'),
      'C' : pd.Series(1,index=range(4),dtype='float32'),
      'D' : np.arange(7,11),
      'E' : pd.Categorical(["test","train","test","train"]),
    }
    )

In [28]:
df2

     A          B    C   D      E
0  1.0 2013-01-02  1.0   7   test
1  1.0 2013-01-02  1.0   8  train
2  1.0 2013-01-02  1.0   9   test
3  1.0 2013-01-02  1.0  10  train

### Viewing Data

In [29]:
df.head()

                            A         B         C         D
2018-11-19 14:45:00  0.254755 -0.408778 -0.672927 -0.246030
2018-11-19 15:45:00  0.124616 -0.570580  0.313250 -0.127965
2018-11-19 16:45:00  0.360262 -0.809597  0.881252 -1.482670
2018-11-19 17:45:00  0.786788  0.924543  0.889495 -1.210049
2018-11-19 18:45:00  1.447087  2.254845  0.020135 -0.812899

In [30]:
df.tail(4)

                            A         B         C         D
2018-11-19 20:45:00 -1.748170 -1.956671  0.508050  0.712614
2018-11-19 21:45:00 -0.299697 -1.483437  0.088709 -3.664346
2018-11-19 22:45:00  0.044704 -0.275880 -1.633099  1.020977
2018-11-19 23:45:00 -1.328099  0.083498  0.210805  0.665545

In [31]:
df.index

DatetimeIndex(['2018-11-19 14:45:00', '2018-11-19 15:45:00',
               '2018-11-19 16:45:00', '2018-11-19 17:45:00',
               '2018-11-19 18:45:00', '2018-11-19 19:45:00',
               '2018-11-19 20:45:00', '2018-11-19 21:45:00',
               '2018-11-19 22:45:00', '2018-11-19 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [32]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [33]:
df.values

array([[ 0.25475516, -0.40877817, -0.67292683, -0.24602965],
       [ 0.12461645, -0.57057998,  0.31324983, -0.1279652 ],
       [ 0.36026204, -0.80959686,  0.88125153, -1.48267039],
       [ 0.7867884 ,  0.92454275,  0.88949482, -1.21004936],
       [ 1.44708651,  2.25484492,  0.0201348 , -0.81289916],
       [ 0.73006606, -0.81379129,  1.04844684,  0.64568302],
       [-1.7481695 , -1.95667065,  0.5080502 ,  0.71261438],
       [-0.29969671, -1.48343703,  0.08870856, -3.66434599],
       [ 0.04470407, -0.27587957, -1.63309904,  1.02097691],
       [-1.32809887,  0.08349821,  0.2108047 ,  0.66554456]])

In [34]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.037231  -0.305585   0.165412  -0.449914
std     0.963455   1.198512   0.811188   1.422577
min    -1.748170  -1.956671  -1.633099  -3.664346
25%    -0.213597  -0.812743   0.037278  -1.110762
50%     0.189686  -0.489679   0.262027  -0.186997
75%     0.637615  -0.006346   0.787951   0.660579
max     1.447087   2.254845   1.048447   1.020977

In [35]:
df.T

,2018-11-19 14:45:00,2018-11-19 15:45:00,2018-11-19 16:45:00,2018-11-19 17:45:00,2018-11-19 18:45:00,2018-11-19 19:45:00,2018-11-19 20:45:00,2018-11-19 21:45:00,2018-11-19 22:45:00,2018-11-19 23:45:00
A,0.254755,0.124616,0.360262,0.786788,1.447087,0.730066,-1.748170,-0.299697,0.044704,-1.328099
B,-0.408778,-0.570580,-0.809597,0.924543,2.254845,-0.813791,-1.956671,-1.483437,-0.275880,0.083498
C,-0.672927,0.313250,0.881252,0.889495,0.020135,1.048447,0.508050,0.088709,-1.633099,0.210805
D,-0.246030,-0.127965,-1.482670,-1.210049,-0.812899,0.645683,0.712614,-3.664346,1.020977,0.665545

In [36]:
df.sort_index(axis=1,ascending=False)

                            D         C         B         A
2018-11-19 14:45:00 -0.246030 -0.672927 -0.408778  0.254755
2018-11-19 15:45:00 -0.127965  0.313250 -0.570580  0.124616
2018-11-19 16:45:00 -1.482670  0.881252 -0.809597  0.360262
2018-11-19 17:45:00 -1.210049  0.889495  0.924543  0.786788
2018-11-19 18:45:00 -0.812899  0.020135  2.254845  1.447087
2018-11-19 19:45:00  0.645683  1.048447 -0.813791  0.730066
2018-11-19 20:45:00  0.712614  0.508050 -1.956671 -1.748170
2018-11-19 21:45:00 -3.664346  0.088709 -1.483437 -0.299697
2018-11-19 22:45:00  1.020977 -1.633099 -0.275880  0.044704
2018-11-19 23:45:00  0.665545  0.210805  0.083498 -1.328099

In [37]:
df.sort_values(by="C")

                            A         B         C         D
2018-11-19 22:45:00  0.044704 -0.275880 -1.633099  1.020977
2018-11-19 14:45:00  0.254755 -0.408778 -0.672927 -0.246030
2018-11-19 18:45:00  1.447087  2.254845  0.020135 -0.812899
2018-11-19 21:45:00 -0.299697 -1.483437  0.088709 -3.664346
2018-11-19 23:45:00 -1.328099  0.083498  0.210805  0.665545
2018-11-19 15:45:00  0.124616 -0.570580  0.313250 -0.127965
2018-11-19 20:45:00 -1.748170 -1.956671  0.508050  0.712614
2018-11-19 16:45:00  0.360262 -0.809597  0.881252 -1.482670
2018-11-19 17:45:00  0.786788  0.924543  0.889495 -1.210049
2018-11-19 19:45:00  0.730066 -0.813791  1.048447  0.645683

## Selection

### Getting slices

The following show how to get part of the DataFrame (i.e. not just the elements)

In [38]:
## standard and safe
print (df['A'],'\n')

## equivalent but dangerous (imagine blank spaces in the name of the column..)
print (df.A)

2018-11-19 14:45:00    0.254755
2018-11-19 15:45:00    0.124616
2018-11-19 16:45:00    0.360262
2018-11-19 17:45:00    0.786788
2018-11-19 18:45:00    1.447087
2018-11-19 19:45:00    0.730066
2018-11-19 20:45:00   -1.748170
2018-11-19 21:45:00   -0.299697
2018-11-19 22:45:00    0.044704
2018-11-19 23:45:00   -1.328099
Freq: H, Name: A, dtype: float64

2018-11-19 14:45:00    0.254755
2018-11-19 15:45:00    0.124616
2018-11-19 16:45:00    0.360262
2018-11-19 17:45:00    0.786788
2018-11-19 18:45:00    1.447087
2018-11-19 19:45:00    0.730066
2018-11-19 20:45:00   -1.748170
2018-11-19 21:45:00   -0.299697
2018-11-19 22:45:00    0.044704
2018-11-19 23:45:00   -1.328099
Freq: H, Name: A, dtype: float64

In [39]:
# selecting rows by counting
print (df[0:3])

# or by index
print (df["2018-11-19 14:45:00":"2018-11-19 16:45:00"])

                            A         B         C         D
2018-11-19 14:45:00  0.254755 -0.408778 -0.672927 -0.246030
2018-11-19 15:45:00  0.124616 -0.570580  0.313250 -0.127965
2018-11-19 16:45:00  0.360262 -0.809597  0.881252 -1.482670
                            A         B         C         D
2018-11-19 14:45:00  0.254755 -0.408778 -0.672927 -0.246030
2018-11-19 15:45:00  0.124616 -0.570580  0.313250 -0.127965
2018-11-19 16:45:00  0.360262 -0.809597  0.881252 -1.482670

### Selection by label

In [43]:
# getting a cross section (part of the DataFrame) using a label
print(dates[0])
df.loc[dates[0]]

2018-11-19 14:45:00

A    0.254755
B   -0.408778
C   -0.672927
D   -0.246030
Name: 2018-11-19 14:45:00, dtype: float64

In [42]:
# selecting on a multi-axis by label:
df.loc[:,['A','B']]

                            A         B
2018-11-19 14:45:00  0.254755 -0.408778
2018-11-19 15:45:00  0.124616 -0.570580
2018-11-19 16:45:00  0.360262 -0.809597
2018-11-19 17:45:00  0.786788  0.924543
2018-11-19 18:45:00  1.447087  2.254845
2018-11-19 19:45:00  0.730066 -0.813791
2018-11-19 20:45:00 -1.748170 -1.956671
2018-11-19 21:45:00 -0.299697 -1.483437
2018-11-19 22:45:00  0.044704 -0.275880
2018-11-19 23:45:00 -1.328099  0.083498

In [44]:
# showing label slicing, both endpoints are included:
df.loc['2018-11-19 18:45:00':'2018-11-19 20:45:00',['A','B']]

                            A         B
2018-11-19 18:45:00  1.447087  2.254845
2018-11-19 19:45:00  0.730066 -0.813791
2018-11-19 20:45:00 -1.748170 -1.956671

In [45]:
# getting an individual element
print (df.loc[dates[1],'A'])

# equivalently
print (df.at[dates[1],'A'])

0.124616447302
0.124616447302

### Selecting by position

In [46]:
# select via the position of the passed integers:
print (df.iloc[3],'\n')

# notation similar to numpy/python
print (df.iloc[3:5,0:2])

A    0.786788
B    0.924543
C    0.889495
D   -1.210049
Name: 2018-11-19 17:45:00, dtype: float64

                            A         B
2018-11-19 17:45:00  0.786788  0.924543
2018-11-19 18:45:00  1.447087  2.254845

In [47]:
# selecting raws 1,2 and 4 for columns 0 and 2
df.iloc[[1,2,4],[0,2]]

                            A         C
2018-11-19 15:45:00  0.124616  0.313250
2018-11-19 16:45:00  0.360262  0.881252
2018-11-19 18:45:00  1.447087  0.020135

In [48]:
# slicing rows explicitly
print (df.iloc[1:3,:],'\n')

# slicing columns explicitly
print (df.iloc[:,1:3])

                            A         B         C         D
2018-11-19 15:45:00  0.124616 -0.570580  0.313250 -0.127965
2018-11-19 16:45:00  0.360262 -0.809597  0.881252 -1.482670

                            B         C
2018-11-19 14:45:00 -0.408778 -0.672927
2018-11-19 15:45:00 -0.570580  0.313250
2018-11-19 16:45:00 -0.809597  0.881252
2018-11-19 17:45:00  0.924543  0.889495
2018-11-19 18:45:00  2.254845  0.020135
2018-11-19 19:45:00 -0.813791  1.048447
2018-11-19 20:45:00 -1.956671  0.508050
2018-11-19 21:45:00 -1.483437  0.088709
2018-11-19 22:45:00 -0.275880 -1.633099
2018-11-19 23:45:00  0.083498  0.210805

In [49]:
# selecting an individual element by position
df.iloc[1,1]
df.iat[1,1]

-0.57057998490890049

### Boolean index

Very powerful way of filtering out data with certain features. Notation is very similar to numpy arrays.

In [51]:
# Filter by a boolean condition on the values of a single column
print(df['B'])
df[df['B'] > 0]

2018-11-19 14:45:00   -0.408778
2018-11-19 15:45:00   -0.570580
2018-11-19 16:45:00   -0.809597
2018-11-19 17:45:00    0.924543
2018-11-19 18:45:00    2.254845
2018-11-19 19:45:00   -0.813791
2018-11-19 20:45:00   -1.956671
2018-11-19 21:45:00   -1.483437
2018-11-19 22:45:00   -0.275880
2018-11-19 23:45:00    0.083498
Freq: H, Name: B, dtype: float64

                            A         B         C         D
2018-11-19 17:45:00  0.786788  0.924543  0.889495 -1.210049
2018-11-19 18:45:00  1.447087  2.254845  0.020135 -0.812899
2018-11-19 23:45:00 -1.328099  0.083498  0.210805  0.665545

In [52]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
df[df>0]

# a DataFrame with the same shape is returned, with NaN's where condition is not met

                            A         B         C         D
2018-11-19 14:45:00  0.254755       NaN       NaN       NaN
2018-11-19 15:45:00  0.124616       NaN  0.313250       NaN
2018-11-19 16:45:00  0.360262       NaN  0.881252       NaN
2018-11-19 17:45:00  0.786788  0.924543  0.889495       NaN
2018-11-19 18:45:00  1.447087  2.254845  0.020135       NaN
2018-11-19 19:45:00  0.730066       NaN  1.048447  0.645683
2018-11-19 20:45:00       NaN       NaN  0.508050  0.712614
2018-11-19 21:45:00       NaN       NaN  0.088709       NaN
2018-11-19 22:45:00  0.044704       NaN       NaN  1.020977
2018-11-19 23:45:00       NaN  0.083498  0.210805  0.665545

### Setting

Combination of selection and setting of values

In [57]:
# setting values by label (same as by position)
df.at[dates[0],'A'] = 0

# setting and assigning a numpy array
df.loc[:,'D'] = np.array([5] * len(df))

# defining a brend new column
df['E'] = np.arange(len(df))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
df['E prime'] = pd.Series(np.arange(len(df))*2, index=df.index)
print(df)

                            A         B         C  D    E  E prime
2018-11-19 14:45:00  0.000000 -0.408778 -0.672927  5  0.0        0
2018-11-19 15:45:00  0.124616 -0.570580  0.313250  5  0.5        2
2018-11-19 16:45:00  0.360262 -0.809597  0.881252  5  1.0        4
2018-11-19 17:45:00  0.786788  0.924543  0.889495  5  1.5        6
2018-11-19 18:45:00  1.447087  2.254845  0.020135  5  2.0        8
2018-11-19 19:45:00  0.730066 -0.813791  1.048447  5  2.5       10
2018-11-19 20:45:00 -1.748170 -1.956671  0.508050  5  3.0       12
2018-11-19 21:45:00 -0.299697 -1.483437  0.088709  5  3.5       14
2018-11-19 22:45:00  0.044704 -0.275880 -1.633099  5  4.0       16
2018-11-19 23:45:00 -1.328099  0.083498  0.210805  5  4.5       18

In [58]:
def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)
 
df['cosine'] = pd.Series(df["E"].apply(dcos), index=df.index)
df

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.408778 -0.672927  5  0.0        0  1.000000
2018-11-19 15:45:00  0.124616 -0.570580  0.313250  5  0.5        2  0.999962
2018-11-19 16:45:00  0.360262 -0.809597  0.881252  5  1.0        4  0.999848
2018-11-19 17:45:00  0.786788  0.924543  0.889495  5  1.5        6  0.999657
2018-11-19 18:45:00  1.447087  2.254845  0.020135  5  2.0        8  0.999391
2018-11-19 19:45:00  0.730066 -0.813791  1.048447  5  2.5       10  0.999048
2018-11-19 20:45:00 -1.748170 -1.956671  0.508050  5  3.0       12  0.998630
2018-11-19 21:45:00 -0.299697 -1.483437  0.088709  5  3.5       14  0.998135
2018-11-19 22:45:00  0.044704 -0.275880 -1.633099  5  4.0       16  0.997564
2018-11-19 23:45:00 -1.328099  0.083498  0.210805  5  4.5       18  0.996917

In [59]:
# another example of global setting
df2=df.copy()
df2[df2>0] = -df2
df2

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.408778 -0.672927 -5  0.0        0 -1.000000
2018-11-19 15:45:00 -0.124616 -0.570580 -0.313250 -5 -0.5       -2 -0.999962
2018-11-19 16:45:00 -0.360262 -0.809597 -0.881252 -5 -1.0       -4 -0.999848
2018-11-19 17:45:00 -0.786788 -0.924543 -0.889495 -5 -1.5       -6 -0.999657
2018-11-19 18:45:00 -1.447087 -2.254845 -0.020135 -5 -2.0       -8 -0.999391
2018-11-19 19:45:00 -0.730066 -0.813791 -1.048447 -5 -2.5      -10 -0.999048
2018-11-19 20:45:00 -1.748170 -1.956671 -0.508050 -5 -3.0      -12 -0.998630
2018-11-19 21:45:00 -0.299697 -1.483437 -0.088709 -5 -3.5      -14 -0.998135
2018-11-19 22:45:00 -0.044704 -0.275880 -1.633099 -5 -4.0      -16 -0.997564
2018-11-19 23:45:00 -1.328099 -0.083498 -0.210805 -5 -4.5      -18 -0.996917

### Dropping

N.B.: dropping doesn't act permanently on the DataFrame, i.e. to get that do :
```python
df = df.drop(....)
```

In [62]:
# Dropping by column
df.drop(['E prime'], axis=1)
#which is equivalent to
df.drop(columns=['E prime'])

TypeError: drop() got an unexpected keyword argument 'columns'

In [63]:
# Dropping by raws
# save and always working
df.drop(df.index[[1,2,3,4]])

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.408778 -0.672927  5  0.0        0  1.000000
2018-11-19 19:45:00  0.730066 -0.813791  1.048447  5  2.5       10  0.999048
2018-11-19 20:45:00 -1.748170 -1.956671  0.508050  5  3.0       12  0.998630
2018-11-19 21:45:00 -0.299697 -1.483437  0.088709  5  3.5       14  0.998135
2018-11-19 22:45:00  0.044704 -0.275880 -1.633099  5  4.0       16  0.997564
2018-11-19 23:45:00 -1.328099  0.083498  0.210805  5  4.5       18  0.996917

In [64]:
# something like df.drop('index_name') 
# would work but the type of i|ndex must be specificed, 
# in particular with DatetimeIndex
df.drop(pd.to_datetime("2018-11-19 22:45:00"))

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.408778 -0.672927  5  0.0        0  1.000000
2018-11-19 15:45:00  0.124616 -0.570580  0.313250  5  0.5        2  0.999962
2018-11-19 16:45:00  0.360262 -0.809597  0.881252  5  1.0        4  0.999848
2018-11-19 17:45:00  0.786788  0.924543  0.889495  5  1.5        6  0.999657
2018-11-19 18:45:00  1.447087  2.254845  0.020135  5  2.0        8  0.999391
2018-11-19 19:45:00  0.730066 -0.813791  1.048447  5  2.5       10  0.999048
2018-11-19 20:45:00 -1.748170 -1.956671  0.508050  5  3.0       12  0.998630
2018-11-19 21:45:00 -0.299697 -1.483437  0.088709  5  3.5       14  0.998135
2018-11-19 23:45:00 -1.328099  0.083498  0.210805  5  4.5       18  0.996917

## Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [65]:
df_wNan = df[df>0]
df_wNan

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00       NaN       NaN       NaN  5  NaN      NaN  1.000000
2018-11-19 15:45:00  0.124616       NaN  0.313250  5  0.5      2.0  0.999962
2018-11-19 16:45:00  0.360262       NaN  0.881252  5  1.0      4.0  0.999848
2018-11-19 17:45:00  0.786788  0.924543  0.889495  5  1.5      6.0  0.999657
2018-11-19 18:45:00  1.447087  2.254845  0.020135  5  2.0      8.0  0.999391
2018-11-19 19:45:00  0.730066       NaN  1.048447  5  2.5     10.0  0.999048
2018-11-19 20:45:00       NaN       NaN  0.508050  5  3.0     12.0  0.998630
2018-11-19 21:45:00       NaN       NaN  0.088709  5  3.5     14.0  0.998135
2018-11-19 22:45:00  0.044704       NaN       NaN  5  4.0     16.0  0.997564
2018-11-19 23:45:00       NaN  0.083498  0.210805  5  4.5     18.0  0.996917

In [75]:
# dropping raws with at least a Nan
df_wNan.dropna(how='any')

                            A         B         C  D    E  E prime    cosine
2018-11-19 17:45:00  0.786788  0.924543  0.889495  5  1.5      6.0  0.999657
2018-11-19 18:45:00  1.447087  2.254845  0.020135  5  2.0      8.0  0.999391

In [68]:
# getting a mask
#df_wNan.isna()
df_wNan.notna()

AttributeError: 'DataFrame' object has no attribute 'notna'

In [69]:
# filling missing data
df_wNan.fillna(value=0)

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00  0.000000  0.000000  0.000000  5  0.0      0.0  1.000000
2018-11-19 15:45:00  0.124616  0.000000  0.313250  5  0.5      2.0  0.999962
2018-11-19 16:45:00  0.360262  0.000000  0.881252  5  1.0      4.0  0.999848
2018-11-19 17:45:00  0.786788  0.924543  0.889495  5  1.5      6.0  0.999657
2018-11-19 18:45:00  1.447087  2.254845  0.020135  5  2.0      8.0  0.999391
2018-11-19 19:45:00  0.730066  0.000000  1.048447  5  2.5     10.0  0.999048
2018-11-19 20:45:00  0.000000  0.000000  0.508050  5  3.0     12.0  0.998630
2018-11-19 21:45:00  0.000000  0.000000  0.088709  5  3.5     14.0  0.998135
2018-11-19 22:45:00  0.044704  0.000000  0.000000  5  4.0     16.0  0.997564
2018-11-19 23:45:00  0.000000  0.083498  0.210805  5  4.5     18.0  0.996917

Fill gaps forward or backward by propagating non-NA values forward or backward:

In [70]:
df_wNan.fillna(method='pad')

                            A         B         C  D    E  E prime    cosine
2018-11-19 14:45:00       NaN       NaN       NaN  5  NaN      NaN  1.000000
2018-11-19 15:45:00  0.124616       NaN  0.313250  5  0.5      2.0  0.999962
2018-11-19 16:45:00  0.360262       NaN  0.881252  5  1.0      4.0  0.999848
2018-11-19 17:45:00  0.786788  0.924543  0.889495  5  1.5      6.0  0.999657
2018-11-19 18:45:00  1.447087  2.254845  0.020135  5  2.0      8.0  0.999391
2018-11-19 19:45:00  0.730066  2.254845  1.048447  5  2.5     10.0  0.999048
2018-11-19 20:45:00  0.730066  2.254845  0.508050  5  3.0     12.0  0.998630
2018-11-19 21:45:00  0.730066  2.254845  0.088709  5  3.5     14.0  0.998135
2018-11-19 22:45:00  0.044704  2.254845  0.088709  5  4.0     16.0  0.997564
2018-11-19 23:45:00  0.044704  0.083498  0.210805  5  4.5     18.0  0.996917

## Operations

Here comes the most relevant advantage of DataFrame. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a raw

In [71]:
# Some statistics (mean() just as an example)
# raws
print (df.mean(axis=0),'\n')
# columns
print (df.mean(axis=1),'\n')

A          0.011756
B         -0.305585
C          0.165412
D          5.000000
E          2.250000
E prime    9.000000
cosine     0.998915
dtype: float64

2018-11-19 14:45:00    0.702614
2018-11-19 15:45:00    1.195321
2018-11-19 16:45:00    1.633109
2018-11-19 17:45:00    2.300069
2018-11-19 18:45:00    2.817351
2018-11-19 19:45:00    2.780539
2018-11-19 20:45:00    2.543120
2018-11-19 21:45:00    3.114816
2018-11-19 22:45:00    3.447613
2018-11-19 23:45:00    3.923303
Freq: H, dtype: float64

In [72]:
# global operations on columns
df.apply(np.cumsum)

                            A         B         C   D     E  E prime    cosine
2018-11-19 14:45:00  0.000000 -0.408778 -0.672927   5   0.0        0  1.000000
2018-11-19 15:45:00  0.124616 -0.979358 -0.359677  10   0.5        2  1.999962
2018-11-19 16:45:00  0.484878 -1.788955  0.521575  15   1.5        6  2.999810
2018-11-19 17:45:00  1.271667 -0.864412  1.411069  20   3.0       12  3.999467
2018-11-19 18:45:00  2.718753  1.390433  1.431204  25   5.0       20  4.998858
2018-11-19 19:45:00  3.448819  0.576641  2.479651  30   7.5       30  5.997906
2018-11-19 20:45:00  1.700650 -1.380029  2.987701  35  10.5       42  6.996536
2018-11-19 21:45:00  1.400953 -2.863466  3.076410  40  14.0       56  7.994670
2018-11-19 22:45:00  1.445657 -3.139346  1.443311  45  18.0       72  8.992234
2018-11-19 23:45:00  0.117558 -3.055848  1.654115  50  22.5       90  9.989152

In [73]:
df.apply(lambda x: x.max() - x.min())

A           3.195256
B           4.211516
C           2.681546
D           0.000000
E           4.500000
E prime    18.000000
cosine      0.003083
dtype: float64

In [74]:
# syntax is as usual similar to that of numpy arrays
df['A']+df['B']

2018-11-19 14:45:00   -0.408778
2018-11-19 15:45:00   -0.445964
2018-11-19 16:45:00   -0.449335
2018-11-19 17:45:00    1.711331
2018-11-19 18:45:00    3.701931
2018-11-19 19:45:00   -0.083725
2018-11-19 20:45:00   -3.704840
2018-11-19 21:45:00   -1.783134
2018-11-19 22:45:00   -0.231176
2018-11-19 23:45:00   -1.244601
Freq: H, dtype: float64

Let's play it hard and load (in memory) a (relatively) large dataset

In [80]:
file_name="/home/jebrilh/data/data_000636.txt"
data=pd.read_csv(file_name)
data

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0           60  3869187117         788        15
1           1     0           63  3869187117         787        23
2           1     0           64  3869187117         786        12
3           1     1            1  3869187117        1078        14
4           1     0           27  3869187117        1080         9
5           1     0           49  3869187117        1077         3
6           1     1           11  3869187117        1078        19
7           1     0          139  3869187117        1083         0
8           1     0           32  3869187117        1081        27
9           1     0           50  3869187117        1078        24
10          1     1            3  3869187117        1083        16
11          1     0           25  3869187117        1083        10
12          1     0           47  3869187117        1088        16
13          1     1            2  3869187117        1085        15
14          1     0           50  3869187117        1083         6
15          1     0           64  3869187117        1188        27
16          1     1            7  3869187117        1190        26
17          1     1           10  3869187117        1190         7
18          1     0          139  3869187117        1199         0
19          1     0           63  3869187117        1191        22
20          1     0           58  3869187117        1197        13
21          1     1            8  3869187117        1195        29
22          1     0           61  3869187117        1195        21
23          1     0           62  3869187117        1199        19
24          1     0           60  3869187117        1220        25
25          1     0           57  3869187117        1238        28
26          1     0           58  3869187117        1240        27
27          1     0          139  3869187117        1253         0
28          1     0           58  3869187117        1246        19
29          1     0           59  3869187117        1251         8
...       ...   ...          ...         ...         ...       ...
1310690     1     1            4  3869200166        2968        14
1310691     1     0           44  3869200166        2966         9
1310692     1     1            2  3869200166        2971         4
1310693     1     1           56  3869200166        3538        13
1310694     1     0           61  3869200166        3535        18
1310695     1     1           26  3869200166        3537         1
1310696     1     0           57  3869200166        3540         4
1310697     1     1            5  3869200166        3541        27
1310698     1     0          139  3869200166        3541         0
1310699     1     0           62  3869200166        3537        22
1310700     1     1          139  3869200166        3545         0
1310701     1     1            7  3869200166        3543        20
1310702     1     0           58  3869200166        3542        13
1310703     1     1           24  3869200166        3544        29
1310704     1     0           63  3869200166        3539        19
1310705     1     1            6  3869200166        3539        11
1310706     1     0           59  3869200166        3543        24
1310707     1     1            8  3869200166        3548        15
1310708     1     0           64  3869200166        3537        21
1310709     1     1           22  3869200166        3549        15
1310710     1     0           60  3869200166        3541        16
1310711     1     1            2  3869200166        3539        22
1310712     1     0           62  3869200166        3546        27
1310713     1     1            3  3869200166        3543        18
1310714     1     0           57  3869200166        3549        20
1310715     1     1            1  3869200166        3544         7
1310716     1     0           63  3869200166        3544        23
1310717     1     0           64  3869200166        3547        11
1310718     1     1            1  3869200167         204        25
1310719     1     1           12  3869200167        2362         4

[1310720 rows x 6 columns]

Let's know do some operations among (elements of) columns

In [82]:
# the one-liner killing it all
data['timens']=data['TDC_MEAS']*25/30+data['BX_COUNTER']*25
data

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,timens
0,1,0,60,3869187117,788,15,19712.500000
1,1,0,63,3869187117,787,23,19694.166667
2,1,0,64,3869187117,786,12,19660.000000
3,1,1,1,3869187117,1078,14,26961.666667
4,1,0,27,3869187117,1080,9,27007.500000
5,1,0,49,3869187117,1077,3,26927.500000
6,1,1,11,3869187117,1078,19,26965.833333
7,1,0,139,3869187117,1083,0,27075.000000
8,1,0,32,3869187117,1081,27,27047.500000
9,1,0,50,3869187117,1078,24,26970.000000
10,1,1,3,3869187117,1083,16,27088.333333
11,1,0,25,3869187117,1083,10,27083.333333
12,1,0,47,3869187117,1088,16,27213.333333
13,1,1,2,3869187117,1085,15,27137.500000
14,1,0,50,3869187117,1083,6,27080.000000
15,1,0,64,3869187117,1188,27,29722.500000
16,1,1,7,3869187117,1190,26,29771.666667
17,1,1,10,3869187117,1190,7,29755.833333
18,1,0,139,3869187117,1199,0,29975.000000
19,1,0,63,3869187117,1191,22,29793.333333
20,1,0,58,3869187117,1197,13,29935.833333
21,1,1,8,3869187117,1195,29,29899.166667
22,1,0,61,3869187117,1195,21,29892.500000
23,1,0,62,3869187117,1199,19,29990.833333
24,1,0,60,3869187117,1220,25,30520.833333
25,1,0,57,3869187117,1238,28,30973.333333
26,1,0,58,3869187117,1240,27,31022.500000
27,1,0,139,3869187117,1253,0,31325.000000
28,1,0,58,3869187117,1246,19,31165.833333
29,1,0,59,3869187117,1251,8,31281.666667
...,...,...,...,...,...,...,...
1310690,1,1,4,3869200166,2968,14,74211.666667
1310691,1,0,44,3869200166,2966,9,74157.500000
1310692,1,1,2,3869200166,2971,4,74278.333333
1310693,1,1,56,3869200166,3538,13,88460.833333
1310694,1,0,61,3869200166,3535,18,88390.000000
1310695,1,1,26,3869200166,3537,1,88425.833333
1310696,1,0,57,3869200166,3540,4,88503.333333
1310697,1,1,5,3869200166,3541,27,88547.500000
1310698,1,0,139,3869200166,3541,0,88525.000000
1310699,1,0,62,3869200166,3537,22,88443.333333
1310700,1,1,139,3869200166,3545,0,88625.000000
1310701,1,1,7,3869200166,3543,20,88591.666667
1310702,1,0,58,3869200166,3542,13,88560.833333
1310703,1,1,24,3869200166,3544,29,88624.166667
1310704,1,0,63,3869200166,3539,19,88490.833333
1310705,1,1,6,3869200166,3539,11,88484.166667
1310706,1,0,59,3869200166,3543,24,88595.000000
1310707,1,1,8,3869200166,3548,15,88712.500000
1310708,1,0,64,3869200166,3537,21,88442.500000
1310709,1,1,22,3869200166,3549,15,88737.500000
1310710,1,0,60,3869200166,3541,16,88538.333333
1310711,1,1,2,3869200166,3539,22,88493.333333
1310712,1,0,62,3869200166,3546,27,88672.500000
1310713,1,1,3,3869200166,3543,18,88590.000000
1310714,1,0,57,3869200166,3549,20,88741.666667
1310715,1,1,1,3869200166,3544,7,88605.833333
1310716,1,0,63,3869200166,3544,23,88619.166667
1310717,1,0,64,3869200166,3547,11,88684.166667
1310718,1,1,1,3869200167,204,25,5120.833333
1310719,1,1,12,3869200167,2362,4,59053.333333

In [ ]:
# the old slooow way
def conversion(data):
    result=[]
    for i in range(len(data)): 
        result.append(data.loc[data.index[i],'TDC_MEAS']*25/30.+data.loc[data.index[i],'BX_COUNTER']*25)
    return result

data['timens']=conversion(data)
data

In [ ]:
data

## Merge

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

### Concat

concatenation (adding raws) is straightforward

In [93]:
rdf = pd.DataFrame(np.random.randn(10, 4))
rdf

          0         1         2         3
0  1.992692  0.614592 -0.779132  2.122398
1 -0.605266 -0.820140  0.669485  1.084994
2 -0.776714  2.073448 -0.563009 -0.412775
3 -0.997001  1.233438 -0.478882  0.506081
4  1.669634  0.444391  1.044547 -0.251617
5  0.480878 -0.381283  0.257077 -1.120927
6 -1.754035 -0.065377  1.578700  1.106336
7  1.064105 -1.001149  0.033421 -1.521251
8 -0.588267 -0.396535  0.766340 -2.368185
9  0.968844  0.898097 -0.592325 -0.165075

In [95]:
# divide it into pieaces raw-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
pieces

[          0         1         2         3
 0  1.992692  0.614592 -0.779132  2.122398
 1 -0.605266 -0.820140  0.669485  1.084994
 2 -0.776714  2.073448 -0.563009 -0.412775,
           0         1         2         3
 3 -0.997001  1.233438 -0.478882  0.506081
 4  1.669634  0.444391  1.044547 -0.251617
 5  0.480878 -0.381283  0.257077 -1.120927
 6 -1.754035 -0.065377  1.578700  1.106336,
           0         1         2         3
 7  1.064105 -1.001149  0.033421 -1.521251
 8 -0.588267 -0.396535  0.766340 -2.368185
 9  0.968844  0.898097 -0.592325 -0.165075]

In [97]:
# put it back together
pd.concat(pieces)

# indexes can be ignored
pd.concat(pieces, ignore_index=True)

# in case of dimension mismatch, Nan are added where needed

          0         1         2         3
0  1.992692  0.614592 -0.779132  2.122398
1 -0.605266 -0.820140  0.669485  1.084994
2 -0.776714  2.073448 -0.563009 -0.412775
3 -0.997001  1.233438 -0.478882  0.506081
4  1.669634  0.444391  1.044547 -0.251617
5  0.480878 -0.381283  0.257077 -1.120927
6 -1.754035 -0.065377  1.578700  1.106336
7  1.064105 -1.001149  0.033421 -1.521251
8 -0.588267 -0.396535  0.766340 -2.368185
9  0.968844  0.898097 -0.592325 -0.165075

In [ ]:
# appending a single raw (as a Series)
s = rdf.iloc[3]
rdf.append(s, ignore_index=True)

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is all rather sophisticated, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples

In [98]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left,right,on="key")

   key  lval  rval
0  foo     1     4
1  bar     2     5

## Grouping

By “group by” we are referring to a process involving one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

In [99]:
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})
gdf

     A      B         C         D
0  foo    one -1.092682 -0.130281
1  bar    one -0.247612 -0.390091
2  foo    two  2.469713  0.217264
3  bar  three  0.968696  0.830251
4  foo    two  1.274793 -0.555587
5  bar    two  0.191256 -0.388462
6  foo    one -0.485442 -0.905133
7  foo  three -0.752492 -0.171233

In [100]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where number are there).
gdf.groupby('A').sum()

           C         D
A
bar  0.91234  0.051699
foo  1.41389 -1.544971

## Multi-indexing


Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1d) and DataFrame (2d).

In [102]:
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print (multi_index,'\n')

s = pd.Series(np.random.randn(8), index=multi_index)
print (s)

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

first  second
bar    one      -0.059072
       two       0.422509
baz    one       0.678320
       two      -0.542312
foo    one      -0.195352
       two       2.324165
qux    one      -0.553361
       two      -1.339205
dtype: float64

In [103]:
# it enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.247612 -0.390091
    three  0.968696  0.830251
    two    0.191256 -0.388462
foo one   -1.578124 -1.035414
    three -0.752492 -0.171233
    two    3.744506 -0.338323

In [104]:
# stack() method “compresses” a level in the DataFrame’s columns
gdf.groupby(['A','B']).sum().stack()

A    B
bar  one    C   -0.247612
            D   -0.390091
     three  C    0.968696
            D    0.830251
     two    C    0.191256
            D   -0.388462
foo  one    C   -1.578124
            D   -1.035414
     three  C   -0.752492
            D   -0.171233
     two    C    3.744506
            D   -0.338323
dtype: float64

## Plotting

Just a preview, more on the next lab class!

In [106]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts.cumsum().plot()

In [108]:
pdf=pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])
import matplotlib.pyplot as plt
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')