## Pandas analysis

In the following a series of exercises is proposed on a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGA's. Each measurement (i.e. each raw) consists of the address of the TDC providing the signal, 'FPGA' and 'TDC_Channel, and the timing information itself, 'ORBIT_CNT', 'BX_COUNTER' and 'TDC_MEAS'. Each TDC count correspond 25/30 ns, whereas the BX_COUNTER feauters gets updated every 25 ns and the ORBIT_CNT every 'x' BX_COUNTER. You can see these way of storing the time as similar to hours, minutes and seconds.

1\. Create a Pandas DataFrame by read N raws of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of raws and larger that 10k.

2\. Find out the value of 'x'

3\. Find out how much the data taking lasted. You can either make an estimate on the baseis of the fraction of the measurements (raws) you read, or perform this check precisely by reading out the whole dataset

4\. Create a new column with the actual time in ns (as a combination of the other three columns with timing information)

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1

6\. Create a new DataFrame with only the raws with HEAD=1

7\. Make two occupancy plots (one per FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [1]:
import pandas as pd
import numpy as np

In [7]:
file_name="data_000637.txt"
data=pd.read_csv(file_name)
N = 20000
data = data[0:N]
data

       HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0         1     0          123  3869200167        2374        26
1         1     0          124  3869200167        2374        27
2         1     0           63  3869200167        2553        28
3         1     0           64  3869200167        2558        19
4         1     0           64  3869200167        2760        25
5         1     0           63  3869200167        2762         4
6         1     0           61  3869200167        2772        14
7         1     0          139  3869200167        2776         0
8         1     0           62  3869200167        2774        21
9         1     0           60  3869200167        2788         7
10        1     1            7  3869200167        2785         4
11        1     0           64  3869200167        2786        19
12        1     1            6  3869200167        2792        18
13        1     0           36  3869200167        2791        23
14        1     0           56  3869200167        2789         3
15        1     1          139  3869200167        2797         0
16        1     1            8  3869200167        2787        14
17        1     0           63  3869200167        2790        10
18        1     1            5  3869200167        2795         4
19        1     0           53  3869200167        2796        26
20        1     1           10  3869200167        2789        14
21        1     0           57  3869200167        2789        10
22        1     0           61  3869200167        2790        23
23        1     0           38  3869200167        2799        15
24        1     0           58  3869200167        2795        19
25        1     0           62  3869200167        2797        14
26        1     0           59  3869200167        2799        14
27        1     0           59  3869200167        3081        21
28        1     0           61  3869200167        3081         1
29        1     0           60  3869200167        3083        20
...     ...   ...          ...         ...         ...       ...
19970     1     0           54  3869200366         680        19
19971     1     0          120  3869200366         678        24
19972     1     0           51  3869200366         681        29
19973     1     0          115  3869200366         679        12
19974     1     0           53  3869200366         688        25
19975     1     0           40  3869200366        1339        15
19976     1     0           37  3869200366        1338        10
19977     1     0           38  3869200366        1346        23
19978     1     0           37  3869200366        1938        23
19979     1     0           42  3869200366        1946        26
19980     1     0          123  3869200366        1949         0
19981     1     0           40  3869200366        1951        18
19982     1     0          139  3869200366        1953         0
19983     1     0           47  3869200366        1971        13
19984     1     0           59  3869200366        1973        19
19985     1     0           50  3869200366        1979        22
19986     1     0           60  3869200366        1976        11
19987     1     0           62  3869200366        1980        28
19988     1     0           48  3869200366        1981         3
19989     1     0           61  3869200366        1983        26
19990     1     0           45  3869200366        1982        17
19991     1     0          124  3869200366        2163        17
19992     1     0           40  3869200366        2388        28
19993     1     0           42  3869200366        2392        22
19994     1     0           21  3869200366        2513        23
19995     1     0           27  3869200366        2513        29
19996     1     0           63  3869200366        2517         6
19997     1     0           32  3869200366        2519         5
19998     1     0           17  3869200366        2522        21
19999     1     0           64  3869200366        2522         0

[20000 rows x 6 columns]

In [17]:
#find the value of x
for i in range(len(data)-1):
    if data.iloc[i+1].ORBIT_CNT!=data.iloc[i].ORBIT_CNT:
        x = data.iloc[i].BX_COUNTER - data.iloc[0].BX_COUNTER
        break;
print("The value of x is: ",x)

The value of x is:  813

In [30]:
data['Time'] = np.arange(len(data))
for i in range(len(data)):
    data.iloc[i].Time =