## Pandas analysis

In the following a series of exercises is proposed on a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGA's. Each measurement (i.e. each raw) consists of the address of the TDC providing the signal, 'FPGA' and 'TDC_Channel, and the timing information itself, 'ORBIT_CNT', 'BX_COUNTER' and 'TDC_MEAS'. Each TDC count correspond 25/30 ns, whereas the BX_COUNTER feauters gets updated every 25 ns and the ORBIT_CNT every 'x' BX_COUNTER. You can see these way of storing the time as similar to hours, minutes and seconds.

1\. Create a Pandas DataFrame by read N raws of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of raws and larger that 10k.

2\. Find out the value of 'x'

3\. Find out how much the data taking lasted. You can either make an estimate on the baseis of the fraction of the measurements (raws) you read, or perform this check precisely by reading out the whole dataset

4\. Create a new column with the actual time in ns (as a combination of the other three columns with timing information)

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1

6\. Create a new DataFrame with only the raws with HEAD=1

7\. Make two occupancy plots (one per FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [11]:
from random import randint
import pandas as pd
file_name='data_000637.txt'
num_lines = sum(1 for line in open(file_name))
print(num_lines)
N=randint(10000, num_lines)
print(N)
data=pd.read_csv(file_name, nrows=N)
data

1310721
670437

        HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0          1     0          123  3869200167        2374        26
1          1     0          124  3869200167        2374        27
2          1     0           63  3869200167        2553        28
3          1     0           64  3869200167        2558        19
4          1     0           64  3869200167        2760        25
5          1     0           63  3869200167        2762         4
6          1     0           61  3869200167        2772        14
7          1     0          139  3869200167        2776         0
8          1     0           62  3869200167        2774        21
9          1     0           60  3869200167        2788         7
10         1     1            7  3869200167        2785         4
11         1     0           64  3869200167        2786        19
12         1     1            6  3869200167        2792        18
13         1     0           36  3869200167        2791        23
14         1     0           56  3869200167        2789         3
15         1     1          139  3869200167        2797         0
16         1     1            8  3869200167        2787        14
17         1     0           63  3869200167        2790        10
18         1     1            5  3869200167        2795         4
19         1     0           53  3869200167        2796        26
20         1     1           10  3869200167        2789        14
21         1     0           57  3869200167        2789        10
22         1     0           61  3869200167        2790        23
23         1     0           38  3869200167        2799        15
24         1     0           58  3869200167        2795        19
25         1     0           62  3869200167        2797        14
26         1     0           59  3869200167        2799        14
27         1     0           59  3869200167        3081        21
28         1     0           61  3869200167        3081         1
29         1     0           60  3869200167        3083        20
...      ...   ...          ...         ...         ...       ...
670407     1     0          118  3869206773        2527        24
670408     1     0          122  3869206773        2531        28
670409     1     0           10  3869206773        2531         1
670410     1     0          118  3869206773        2537        11
670411     1     0          124  3869206773        2535        28
670412     1     1            8  3869206773        2553        11
670413     1     1           71  3869206773        2605         5
670414     1     1            8  3869206773        2603         5
670415     1     1           10  3869206773        2605        20
670416     1     0          123  3869206773        2616        12
670417     1     0           50  3869206773        2616         9
670418     1     1           12  3869206773        2607        11
670419     1     1           14  3869206773        2667        11
670420     1     0           63  3869206773        2674         1
670421     1     1           18  3869206773        2681         4
670422     1     0           64  3869206773        2676         5
670423     1     0           48  3869206773        2712        10
670424     1     0           50  3869206773        2715         9
670425     1     1            8  3869206773        2743        29
670426     1     1            7  3869206773        2748        17
670427     1     1           10  3869206773        2750         1
670428     1     0          122  3869206773        2893         9
670429     1     0          124  3869206773        2900        27
670430     1     0           58  3869206773        2906        10
670431     1     0          139  3869206773        2908         0
670432     1     0           64  3869206773        2905        12
670433     1     1           25  3869206773        3165         5
670434     1     0           42  3869206773        3163        17
670435     1     1           28  3869206773        3163        19
670436     1     1          127  3869206773        3170        13

[670437 rows x 6 columns]

In [28]:
import numpy as np
#question 5
a=pd.Series(np.random.randint(2, size=N), index=data.index)
data['HEAD']=a
data

        HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0          1     0          123  3869200167        2374        26
1          0     0          124  3869200167        2374        27
2          1     0           63  3869200167        2553        28
3          0     0           64  3869200167        2558        19
4          1     0           64  3869200167        2760        25
5          1     0           63  3869200167        2762         4
6          0     0           61  3869200167        2772        14
7          0     0          139  3869200167        2776         0
8          1     0           62  3869200167        2774        21
9          1     0           60  3869200167        2788         7
10         1     1            7  3869200167        2785         4
11         0     0           64  3869200167        2786        19
12         0     1            6  3869200167        2792        18
13         1     0           36  3869200167        2791        23
14         0     0           56  3869200167        2789         3
15         1     1          139  3869200167        2797         0
16         0     1            8  3869200167        2787        14
17         0     0           63  3869200167        2790        10
18         1     1            5  3869200167        2795         4
19         1     0           53  3869200167        2796        26
20         1     1           10  3869200167        2789        14
21         0     0           57  3869200167        2789        10
22         1     0           61  3869200167        2790        23
23         1     0           38  3869200167        2799        15
24         0     0           58  3869200167        2795        19
25         0     0           62  3869200167        2797        14
26         0     0           59  3869200167        2799        14
27         0     0           59  3869200167        3081        21
28         0     0           61  3869200167        3081         1
29         0     0           60  3869200167        3083        20
...      ...   ...          ...         ...         ...       ...
670407     0     0          118  3869206773        2527        24
670408     0     0          122  3869206773        2531        28
670409     1     0           10  3869206773        2531         1
670410     1     0          118  3869206773        2537        11
670411     0     0          124  3869206773        2535        28
670412     1     1            8  3869206773        2553        11
670413     1     1           71  3869206773        2605         5
670414     1     1            8  3869206773        2603         5
670415     1     1           10  3869206773        2605        20
670416     1     0          123  3869206773        2616        12
670417     1     0           50  3869206773        2616         9
670418     0     1           12  3869206773        2607        11
670419     0     1           14  3869206773        2667        11
670420     0     0           63  3869206773        2674         1
670421     0     1           18  3869206773        2681         4
670422     1     0           64  3869206773        2676         5
670423     1     0           48  3869206773        2712        10
670424     0     0           50  3869206773        2715         9
670425     1     1            8  3869206773        2743        29
670426     0     1            7  3869206773        2748        17
670427     1     1           10  3869206773        2750         1
670428     1     0          122  3869206773        2893         9
670429     1     0          124  3869206773        2900        27
670430     0     0           58  3869206773        2906        10
670431     0     0          139  3869206773        2908         0
670432     0     0           64  3869206773        2905        12
670433     1     1           25  3869206773        3165         5
670434     0     0           42  3869206773        3163        17
670435     1     1           28  3869206773        3163        19
670436     1     1          127  3869206773        3170        13

[670437 rows x 6 columns]

In [31]:
#question 6

new_data=data[data['HEAD']>0]
new_data

        HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0          1     0          123  3869200167        2374        26
2          1     0           63  3869200167        2553        28
4          1     0           64  3869200167        2760        25
5          1     0           63  3869200167        2762         4
8          1     0           62  3869200167        2774        21
9          1     0           60  3869200167        2788         7
10         1     1            7  3869200167        2785         4
13         1     0           36  3869200167        2791        23
15         1     1          139  3869200167        2797         0
18         1     1            5  3869200167        2795         4
19         1     0           53  3869200167        2796        26
20         1     1           10  3869200167        2789        14
22         1     0           61  3869200167        2790        23
23         1     0           38  3869200167        2799        15
30         1     0          139  3869200167        3085         0
32         1     0           61  3869200167        3085        25
33         1     0           54  3869200167        3134         4
35         1     0           51  3869200167        3146        20
38         1     0           60  3869200167        3175        17
40         1     0           54  3869200167        3184        28
42         1     0           57  3869200167        3187        17
51         1     0           61  3869200168          77        26
54         1     1           61  3869200168         260        16
56         1     1          139  3869200168         272         0
57         1     1           62  3869200168         263        20
60         1     1          128  3869200168         270         1
62         1     1            6  3869200168         284        13
63         1     1            8  3869200168         282        17
65         1     1            1  3869200168         281        24
66         1     0           10  3869200168         417         7
...      ...   ...          ...         ...         ...       ...
670376     1     0           61  3869206773        1754        11
670377     1     0           61  3869206773        1763        27
670382     1     1          139  3869206773        2120         0
670385     1     0           62  3869206773        2116        24
670391     1     0           61  3869206773        2129        10
670394     1     0          139  3869206773        2168         0
670395     1     0           33  3869206773        2165         3
670397     1     0           60  3869206773        2165        21
670400     1     0           42  3869206773        2166        27
670403     1     0           53  3869206773        2375        15
670404     1     0           54  3869206773        2376        11
670405     1     0           51  3869206773        2383        28
670406     1     1            8  3869206773        2388         5
670409     1     0           10  3869206773        2531         1
670410     1     0          118  3869206773        2537        11
670412     1     1            8  3869206773        2553        11
670413     1     1           71  3869206773        2605         5
670414     1     1            8  3869206773        2603         5
670415     1     1           10  3869206773        2605        20
670416     1     0          123  3869206773        2616        12
670417     1     0           50  3869206773        2616         9
670422     1     0           64  3869206773        2676         5
670423     1     0           48  3869206773        2712        10
670425     1     1            8  3869206773        2743        29
670427     1     1           10  3869206773        2750         1
670428     1     0          122  3869206773        2893         9
670429     1     0          124  3869206773        2900        27
670433     1     1           25  3869206773        3165         5
670435     1     1           28  3869206773        3163        19
670436     1     1          127  3869206773        3170        13

[335967 rows x 6 columns]