## Pandas analysis

In the following a series of exercises is proposed on a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGA's. Each measurement (i.e. each raw) consists of the address of the TDC providing the signal, 'FPGA' and 'TDC_Channel, and the timing information itself, 'ORBIT_CNT', 'BX_COUNTER' and 'TDC_MEAS'. Each TDC count correspond 25/30 ns, whereas the BX_COUNTER feauters gets updated every 25 ns and the ORBIT_CNT every 'x' BX_COUNTER. You can see these way of storing the time as similar to hours, minutes and seconds.

1\. Create a Pandas DataFrame by read N raws of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of raws and larger that 10k.

2\. Find out the value of 'x'

3\. Find out how much the data taking lasted. You can either make an estimate on the baseis of the fraction of the measurements (raws) you read, or perform this check precisely by reading out the whole dataset

4\. Create a new column with the actual time in ns (as a combination of the other three columns with timing information)

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1

6\. Create a new DataFrame with only the raws with HEAD=1

7\. Make two occupancy plots (one per FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [1]:
import pandas as pd
import numpy as np

In [2]:
def readDF(file_name, n):
    if n >= 10000:
        df = pd.read_csv(file_name)
        try:
            df = df.iloc[:n]
            return df
        except:
            ;
    else:
        print('Select bigger number')

In [4]:
#1
df = readDF('data_000637.txt', 10000000)
print(df.shape)

#2
x = df['BX_COUNTER'].max()
print(x)

#3, 4
df['timens']=df['TDC_MEAS']*25/30+df['BX_COUNTER']*25+df['ORBIT_CNT']*x*25
tot_time = df['timens'].iloc[-1]-df['timens'].iloc[0]
print(tot_time*10**(-9))

#5
df['HEAD'] = pd.Series(np.random.randint(2, size=(len(df))))

#6
df = df[df['HEAD'] > 0]
print(df.shape)

#7
import matplotlib.pyplot as plt
gdf = df[df['FPGA']>0].groupby('TDC_CHANNEL').sum()
plt.figure(); gdf['HEAD'].plot(); plt.show()
gdf = df[df['FPGA']<1].groupby('TDC_CHANNEL').sum()
plt.figure(); gdf['HEAD'].plot(); plt.show()

#8
gdf = df.groupby('TDC_CHANNEL').sum()
plt.figure(); gdf['HEAD'].plot(); plt.show()
gdf = gdf.sort_values(by="HEAD", ascending=False)
print(gdf.iloc[:3])

#9
df139 = df[df['TDC_CHANNEL'] == 139]
print(len(df139.ORBIT_CNT.unique()))
print(len(df.ORBIT_CNT.unique()))

(1310720, 6)
3563
0.9801409933125
(656007, 7)

              HEAD   FPGA        ORBIT_CNT  BX_COUNTER  TDC_MEAS        timens
TDC_CHANNEL
139          53873  16285  208445744363026    96084597         0  1.856730e+19
64           33137    727  128213886757958    59014353    485293  1.142065e+19
63           32329    452  125087567890405    57829491    470080  1.114218e+19
10813
10999

In [20]:
df

,HEAD,FPGA,TDC_CHANNEL,ORBIT_CNT,BX_COUNTER,TDC_MEAS,timens
0,1,0,123,3869200167,2374,26,3.446490e+14
1,1,0,124,3869200167,2374,27,3.446490e+14
3,1,0,64,3869200167,2558,19,3.446490e+14
4,1,0,64,3869200167,2760,25,3.446490e+14
5,1,0,63,3869200167,2762,4,3.446490e+14
9,1,0,60,3869200167,2788,7,3.446490e+14
11,1,0,64,3869200167,2786,19,3.446490e+14
14,1,0,56,3869200167,2789,3,3.446490e+14
17,1,0,63,3869200167,2790,10,3.446490e+14
18,1,1,5,3869200167,2795,4,3.446490e+14
23,1,0,38,3869200167,2799,15,3.446490e+14
25,1,0,62,3869200167,2797,14,3.446490e+14
27,1,0,59,3869200167,3081,21,3.446490e+14
28,1,0,61,3869200167,3081,1,3.446490e+14
31,1,0,62,3869200167,3079,4,3.446490e+14
33,1,0,54,3869200167,3134,4,3.446490e+14
34,1,0,53,3869200167,3136,25,3.446490e+14
35,1,0,51,3869200167,3146,20,3.446490e+14
38,1,0,60,3869200167,3175,17,3.446490e+14
39,1,0,139,3869200167,3186,0,3.446490e+14
40,1,0,54,3869200167,3184,28,3.446490e+14
41,1,0,56,3869200167,3177,20,3.446490e+14
42,1,0,57,3869200167,3187,17,3.446490e+14
48,1,0,139,3869200168,23,0,3.446490e+14
49,1,0,61,3869200168,18,17,3.446490e+14
50,1,0,62,3869200168,21,9,3.446490e+14
52,1,0,62,3869200168,76,21,3.446490e+14
53,1,0,63,3869200168,81,17,3.446490e+14
57,1,1,62,3869200168,263,20,3.446490e+14
60,1,1,128,3869200168,270,1,3.446490e+14
...,...,...,...,...,...,...,...
1310662,1,0,42,3869211170,3025,29,3.446500e+14
1310663,1,1,20,3869211170,3029,23,3.446500e+14
1310667,1,0,41,3869211170,3033,27,3.446500e+14
1310668,1,0,47,3869211170,3033,19,3.446500e+14
1310672,1,0,48,3869211170,3035,13,3.446500e+14
1310673,1,0,57,3869211170,3038,10,3.446500e+14
1310675,1,0,44,3869211170,3037,10,3.446500e+14
1310676,1,0,62,3869211170,3032,3,3.446500e+14
1310678,1,0,61,3869211170,3037,10,3.446500e+14
1310679,1,0,47,3869211170,3040,2,3.446500e+14
1310680,1,0,47,3869211170,3048,11,3.446500e+14
1310681,1,0,48,3869211170,3047,23,3.446500e+14
1310682,1,0,47,3869211170,3053,12,3.446500e+14
1310685,1,0,139,3869211170,3230,0,3.446500e+14
1310687,1,0,45,3869211170,3228,3,3.446500e+14
1310688,1,1,109,3869211170,3421,12,3.446500e+14
1310689,1,0,28,3869211170,3507,18,3.446500e+14
1310691,1,0,56,3869211170,3516,21,3.446500e+14
1310694,1,1,12,3869211170,3524,15,3.446500e+14
1310696,1,0,63,3869211170,3526,2,3.446500e+14
1310697,1,1,10,3869211170,3525,3,3.446500e+14
1310698,1,0,60,3869211171,9,9,3.446500e+14
1310700,1,0,28,3869211171,9,26,3.446500e+14
1310701,1,0,139,3869211171,21,0,3.446500e+14
1310702,1,0,27,3869211171,18,17,3.446500e+14
1310703,1,0,25,3869211171,20,13,3.446500e+14
1310708,1,0,124,3869211171,199,9,3.446500e+14
1310709,1,1,38,3869211171,417,8,3.446500e+14
1310710,1,1,36,3869211171,427,13,3.446500e+14
1310715,1,0,62,3869211171,762,14,3.446500e+14

In [25]:
max(df['TDC_MEAS'])

29