1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [2]:
arr = list(range(0, 101))
for i in range(len(arr)):
    if (arr[i]%3==0 and arr[i]%5==0):
        arr[i] = "MickeyMouse"
    elif arr[i]%5==0:
        arr[i] = "Mouse"
    elif arr[i]%3==0:
        arr[i] = "Mickey"
    else:
        arr[i] = i
print("\n First step: \n", arr[1:])

for i in range(len(arr)):
    if arr[i]=="MickeyMouse":
        arr[i] = "MickeyMouse"
    elif arr[i]=="Mickey":
        arr[i]="Donald"
    elif arr[i]=="Muouse":
        arr[i]=="Duck"
    else:
        arr[i] = i
print("\n Second step: \n", arr[1:])

 First step:
 [1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

 Second step:
 [1, 2, 'Donald', 4, 5, 'Donald', 7, 8, 'Donald', 10, 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 20, 'Donald', 22, 23, 'Donald', 25, 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 35, 'Donald', 37, 38, 'Donald', 40, 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 50, 'Donald', 52, 53, 'Donald', 55, 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 65, 'Donald', 67, 68, 'Donald', 70, 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 80, 'Donald', 82, 83, 'Donald', 85, 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 95, 'Donald', 97, 98, 'Donald', 100]

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [3]:
def swap(i,j):
    t = j
    j = i
    i = t
    print(i,j)
    
i,j = "2a","5b"
swap(i,j)

i, j = j, i
print(i,j)

5b 2a
5b 2a

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [4]:
def euclide(u,v):
    return(pow((u[0]-v[0])**2+(u[1]-v[1])**2,0.5))
euclide((3,0),(0,4))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [ ]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

characters = [x for x in s]
list = {}


for i in range(0,len(characters)):
    char = characters[i]
    count = 0
    for j in range(0,len(characters)):
        if (char.upper() == characters[j]) or (char.lower() == characters[j]):
            count+= 1
    list[char.upper()] = count
print(list)

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [6]:
def unique(l):
    result={}
    for i in range(0,len(l)):
        count=0
        n=l[i]
        for j in range(0,len(l)):
            if n==l[j]:
                count=count+1
        if count==1:
            result[n]=count
    return result,len(result)

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def uniqueNumber(x):

    result = {}

    for i in range(0,len(x)):
        count = 0
        number = l[i]
        for j in range(0,len(x)):
            if number == l[j]:
                count+=1
        if count==1:
            result[number] = count
    return result,len(result)
    
result, length = uniqueNumber(l)    
print("Unique numbers are: ", result)
print("Dimension of the list is: ",length)

 Unique numbers:
 {58: 1, 74: 1, 96: 1, 64: 1, 10: 1, 24: 1, 19: 1, 33: 1, 86: 1, 99: 1, 18: 1, 47: 1, 88: 1, 55: 1, 54: 1, 8: 1, 79: 1, 81: 1, 57: 1, 37: 1, 1: 1, 9: 1, 95: 1, 90: 1, 98: 1, 39: 1, 16: 1, 82: 1, 92: 1, 41: 1, 30: 1, 94: 1, 5: 1, 72: 1, 87: 1, 75: 1, 53: 1}

 Numbers of unique numbers:
 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [82]:
def square(x):
    return x**2

def cube(x):
    return x**3

def sixPower(x):
    return square(cube(x))

a = input("insert a value ")
x = float(a)
print("The 6th power is", sixPower(x))

 Insert a value: 3

 Its 6th power is: 729.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [87]:
#esercizio parte a

cubes = []

for i in range(0,11):
    cubes.append(i**3)
    
print(cubes)

#esercizio parte b

cubes = [x**3 for x in range(0,11)]
print(cubes)

 With for loop: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

 List comprehension: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [7]:
triple = [(x,y,z) for x in range(1,100) for y in range(x,100) for z in range(0,101) if z**2 == x**2+y**2] 
print(triple)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [11]:
import math

def normalization(x):
    sumx = math.fsum(x)
    return tuple(i/sumx for i in x)

a = (1,1,1,1,1,1)
print(normalization(a))

6.0
(0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666)