ex_1

The MickeyMouse problem
a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

for i in range(1,11): 
 if i % 3 ==0:
     print ("Mickey")    
 elif i % 5 ==0:
     print ("Mouse")    
 else:
     print (i)

a=[]
for i in range(1,11): 
 if i % 3 ==0:
     print ("Mickey") 
     a.append("Mickey")   
 elif i % 5 ==0:
     print ("Mouse")
     a.append("Mouse")  
 else:
     print (i)
     a.append(i)   
print(a)
b=a
for n, i in enumerate(a):
    if i == "Mickey":
     b[n]="Donald"
    elif i == "Mouse":
        b[n]="Duck"
    else:
        b[n]=a[n]
print(b)

2. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [4]:
def my_swap(x,y):
     return y,x
print(my_swap(2,3))

(3, 2)

3. Computing the distance

Write a function that calculates and returns the euclidean distance between two points u and v, where u and v are both 2-tuples (x,y). For example, if u=(3,0) and v=(0,4), the function should return 5

In [98]:
import math

def my_distance(u,v):
    d= math.sqrt( (u[0]-v[0])**2 + (u[1]-v[1])**2)
    return d

#prova
a=[4,0]
m=[0,3]
my_distance(a,m)

5.0

4. Counting letters

Write a program to calculate the number of times each character occurs in a given string s. Ignore differneces in capitalization

In [57]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
def my_count_strings(s):
    m=list(set(s.lower()))
    for i in range(0,(len(m))): 
     count_i = s.count(m[i])
     print (m[i], "appears", count_i, "times")
my_count_strings(s)

g appears 1 times
s appears 9 times
1 appears 2 times
0 appears 2 times
i appears 14 times
h appears 9 times
f appears 9 times
b appears 4 times
o appears 13 times
l appears 6 times
a appears 7 times
. appears 2 times
e appears 22 times
y appears 2 times
k appears 2 times
w appears 1 times
t appears 19 times
r appears 17 times
c appears 3 times
v appears 2 times
m appears 8 times
d appears 3 times
n appears 10 times
u appears 9 times
  appears 41 times
p appears 8 times

5. Isolating the unique
Write a function that determines and count the unique numbers in the list l.
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [62]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def my_countlist(l):
 m=list(set(l))
for i in range(0, len(m)):
        count_i=l.count(m[i])
        print(m[i], "appears", count_i, "times")
    
my_countlist(l)

1 appears 1 times
3 appears 2 times
5 appears 1 times
8 appears 1 times
9 appears 1 times
10 appears 1 times
16 appears 1 times
18 appears 1 times
19 appears 1 times
20 appears 3 times
24 appears 1 times
30 appears 1 times
31 appears 2 times
33 appears 1 times
34 appears 2 times
36 appears 3 times
37 appears 1 times
39 appears 1 times
41 appears 1 times
42 appears 2 times
45 appears 3 times
47 appears 1 times
50 appears 2 times
51 appears 3 times
53 appears 1 times
54 appears 1 times
55 appears 1 times
56 appears 2 times
57 appears 1 times
58 appears 1 times
63 appears 2 times
64 appears 1 times
66 appears 2 times
70 appears 3 times
72 appears 1 times
74 appears 1 times
75 appears 1 times
79 appears 1 times
81 appears 1 times
82 appears 1 times
84 appears 4 times
85 appears 3 times
86 appears 1 times
87 appears 1 times
88 appears 1 times
89 appears 2 times
90 appears 1 times
91 appears 3 times
92 appears 1 times
94 appears 1 times
95 appears 1 times
96 appears 1 times
98 appears 1 times
99 appears 1 times

6. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [63]:
def my_square(a):
    square=a*a
    return square
# example 
my_square(10)

def my_cube(a):
    cube= a*a*a
    return cube
#example
my_cube(3)

def my_6th(a):
    sixth= my_square(my_cube(a))
    return sixth
#example 
my_6th(7)

117649

7. Cubes

Create a list of the cubes of x for x in [0, 10] using:

a) a for loop

b) a list comprehension

In [81]:
a=[]
for i in range(0, 11):
    a.append(i*i*i)
print(a)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [2]:
def my_cube(a):
    cube= a*a*a
    return cube
list(map(my_cube, range(0, 11)))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem  a2+b2=c2a2+b2=c2 . The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [31]:
a=[]
for x in range(1,100):
    for y in range(x,100):
            for z in range(y,100):
                if x*x+y*y==z*z:
                    a.append((x,y,z))
print(a)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97)]

9. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [78]:
def my_norm(a):
    tot=0
    for x in range(0, len(a)):
        tot=tot+a[x]
        print(tot)
    for x in range(0, len(a)):
        a[x]=a[x]/tot
    return a
my_norm([1,1,1,9])

1
2
3
12

[0.08333333333333333, 0.08333333333333333, 0.08333333333333333, 0.75]